{% extends "admin/base_admin.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div data-bac="#fcfcfc">
    <section class="welcome-section pt-20 pb-20">
        <div class="auto-container">
            <div class="row clearfix perfil">
                <div class="panel panel-default">
                    <div class="panel-title double-line line-left">
                        <h3 class="inner-title ">CAMBIAR CONTRASEÑA DEL USUARIO</h3>
                    </div>
                    <div class="panel-body">

                        <form class="form-inline" enctype="multipart/form-data" method="post" action=".">{% csrf_token %}
                            <div class="">
                                {% csrf_token %}
                                {{ form.as_table }}
                            </div>
                            <input class="theme-btn btn-style-two admin-btn" type="submit" value="Cambiar Contraseña">

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

{% endblock%}
{% block extra_js %}
<script type="text/javascript">
    $( "input, select" ).addClass( "form-control" );
    $( "input[type='submit']" ).removeClass( "form-control" );
     $( ".helptext ul" ).addClass( "styled-list-one pt-20 pb-20" );
    
</script>
{% endblock extra_js %}

