{% extends "admin/base_admin.html" %}
{% block content %}
<div data-bac="#fcfcfc">
    <section class="welcome-section pt-20 pb-20">
        <div class="auto-container">
            <div class="row clearfix perfil">
                <div class="panel panel-default">
                    <div class="panel-title double-line line-left">
                        <div style="flex-grow: 8">
                            <h3 class="inner-title ">Eventos de la organización</h3>
                        </div> 
                        <a class="theme-btn btn-style-two admin-btn" href="/agendas/crear/">Nuevo evento</a>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover" id="example"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>Titulo</th>
                                    <th>Fecha</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for evento in object_list %}
                                <tr>
                                    <td>{{evento.evento}}</td>
                                    <td>{{evento.inicio}}</td>
                                    <td>
                                        <a href="{% url 'editar-agenda' evento.id %}" class="btn btn-success btn-small-special"><span class="fa fa-pencil"></span></a>
                                    </td>
                                    <td>
                                        <a data-toggle="modal" href='#modal-id-{{evento.id}}' class="btn btn-danger btn-small-special"><span class="fa fa-trash"></span></a>
                                    </td>
                                </tr>
                                <div class="modal fade" id="modal-id-{{evento.id}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">Eliminar evento</h4>
                                            </div>
                                            <div class="modal-body">
                                                El evento "{{evento.evento}}" se eliminara permanentemente.
                                                ¿Esta seguro que desea eliminar el evento?
                                            </div>
                                            <div class="modal-footer">

                                                <a type="button" class="btn btn-danger" href="{% url 'borrar-agenda' evento.id %}">Eliminar</a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block extra_js %}

<script type="text/javascript">
    $(document).ready(function() {
        $('.table').dataTable( {
            "order": [[ 3, "desc" ]],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            }
        } );
    } );
</script>
{% endblock extra_js %}