{% extends "admin/base_admin.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div data-bac="#fcfcfc">
    <section class="welcome-section pt-20 pb-20">
        <div class="auto-container">
            <div class="row clearfix perfil">
                <div class="panel panel-default">
                    <div class="panel-title double-line line-left">
                        <div style="flex-grow:10">
                            {% if request.path == '/agendas/crear/' %}
                                <h3 class="inner-title ">Crear de evento</h3>
                            {% else %}
                                <h3 class="inner-title ">Edición de evento</h3>
                            {% endif %}
                        </div> 

                    </div>
                    <div class="panel-body">
                      <form action="." method="POST" class="form-inline" enctype="multipart/form-data">{% csrf_token %}
                        {% if form.errors %}
                        {{form.errors}}
                        {% endif %}

                        {{ form.media }}
                        {{form|crispy}}

                        <h4 class="inner-title double-line line-left">Documentos</h4>
                        
                          {{ form1.management_form }}
                          {{form1.media}}

                          {% if request.path == '/agendas/crear/' %}
                          <div>
                            {{form1.as_p}}
                          </div>
                          {% else %}
                            <div class="row">
                                {% for doc in form1 %}
                                    <div class="col-sm-12  col-md-6 form-group">
                                        <div style="height:240px;">
                                            {{doc.id}}
                                            <div>Nombre: {{doc.nombre_doc}}</div><br>
                                            <div>Adjunto: {{doc.adjunto}}</div><br>
                                            <div>Tags: {{doc.tags_doc}} <br> {{doc.tags_doc.help_text}}</div>                    

                                            Eliminar: {{doc.DELETE}}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                          {% endif %}


                        
                        <hr>
                        {% if request.path == '/agendas/crear/' %}
                        <input class="theme-btn btn-style-two admin-btn" type="submit" name="Nuevo" value="Nuevo">
                        {% else %}
                        <input class="theme-btn btn-style-two admin-btn" type="submit" name="Actualizar" value="Actualizar">
                        {% endif %}
                      </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<div class="main-content prueba">
    <div class="container ">
        <div class="row stickem-container prueba">
        	<section>
                    <div class="blog-details-top mb40">
                        <div class="blog-details-top__text-content">

						</div>
					</div>
			</section>

		</div>
    </div>
</div>
{% endblock content %}

{% block extra_css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/static/css/jquery.timepicker.min.css">
{% endblock extra_css %}

{% block extra_js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/js/jquery.timepicker.min.js"></script>

<script type="text/javascript">
	$( "input, select" ).addClass( "form-control" );
	$( "input[type='submit']" ).removeClass( "form-control" ).addClass( "btn" );
  $( "#id_lugar" ).removeClass( "textInput" );
</script>

<script>
  $( function() {
    $("#id_inicio" ).datepicker({ dateFormat: 'dd/mm/yy' });
    $("#id_final" ).datepicker({ dateFormat: 'dd/mm/yy' });
    $('#id_hora_inicio').timepicker({ 'timeFormat': 'H:i:s' });
    $('#id_hora_fin').timepicker({ 'timeFormat': 'H:i:s' });


  //   for (var i=0; i<=11; i++) {
  //     $('#id_agendaevento_set-'+i+'-hora_inicio').timepicker({ 'timeFormat': 'H:i:s' });
  //     $('#id_agendaevento_set-'+i+'-hora_fin').timepicker({ 'timeFormat': 'H:i:s' });
  // }

  } );


</script>
{% endblock extra_js %}