{% extends "admin/base_admin.html" %}


{% block content %}
<div data-bac="#fcfcfc">
     <section class="gallery-section">
        <div class="auto-container perfil">
            <!--Filter-->
            <div class="filters text-center">
                <ul class="filter-btns clearfix btngallery_admin">

                    <li class=""><a class="" href="/foros/privado/multimedia_fotos/">Imagenes</a></li>
                    <li class=""><a href="/foros/privado/multimedia_videos/">Videos</a></li>
                    <li class="active"><a href="/foros/privado/multimedia_audios/">Audios</a></li>
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-title double-line line-left">
                    <div style="flex-grow: 8">
                        <h3 class="inner-title ">Audios</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="example"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Tag</th>
                                    <th>Descargar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for audio in audios %}
                                <tr>
                                    <td>{{audio.id}}</td>
                                    <td>{{audio.nombre_audio}}</td>
                                    <td>{{audio.tags_aud}}</td>
                                    <td><a href="/media/{{audio.audio}}" download>Descargar</a></td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.table').dataTable( {
            "order": [[ 3, "desc" ]],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            }
        } );
    } );
</script>
{% endblock extra_js %}
