{% extends "admin/base_admin.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
{% endblock extra_css %}

{% block content %}
<div data-bac="#fcfcfc">
    <section class="welcome-section pt-20 pb-20">
        <div class="auto-container">
            <div class="row clearfix perfil">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 detalle-perfil ">
                	<div class="table-responsive">
                        <table class="table table-hover" id="example"  style="width:100%">
                            <thead>
                                <tr>
                                	<th>Id</th>
                                    <th>Nombre del documento</th>
                                    <th>Tags</th>
                                    <th>Descargar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for doc in documentos %}
                                <tr>
                                	<td>{{doc.id}}</td>
                                    <td>{{doc.nombre_doc}}</td>
                                    <td>{{doc.tags_doc}}</td>
                                    <td><a href="/media/{{doc.adjunto}}" download>Descargar</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<script type="text/javascript">
$(document).ready( function () {
    $('.table').DataTable();
} );
</script>
{% endblock extra_js %}