{% extends "admin/base_admin.html" %}
{% load el_pagination_tags %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
{% endblock extra_css %}
{% block content %}
<div data-bac="#fcfcfc">
    <!--Gallery Section-->
    <section class="gallery-section">
        <div class="auto-container">

            <!--Filter-->
            <div class="filters text-center">
                <ul class="filter-btns clearfix btngallery_admin">

                    <li class="active"><a class="filter" href="/foros/privado/multimedia_fotos/">Imagenes</a></li>
                    <li class=""><a class="filter" href="/foros/privado/multimedia_videos/">Videos</a></li>
                    <li class=""><a class="filter" href="/foros/privado/multimedia_audios/">Audios</a></li>
                </ul>
            </div>
            <div class="row clearfix">
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">

                        <!-- Search Form -->
                        <div class="widget search-box">

                            <form method="post" action="index.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Buscar">
                                    <button type="submit"><span class="icon flaticon-tool-5"></span></button>
                                </div>
                            </form>

                        </div>
                        <div class="widget popular-categories wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Palabras claves</h3></div>

                            <ul class="list">
                                {% for tag in tags %}
                                    <li {%if tag == tag_sel%}class="active"{%endif%}><a href="/foros/privado/multimedia_fotos_tag/{{tag}}" class="pdr10"><i class="icon-tag"></i>{{tag}}</a></li>
                                {% endfor %}
                            </ul>

                        </div>
                        <!-- <div class="widget popular-tags">
                            <div class="sidebar-title"><h3>Palabras claves</h3></div>
                            {% for doc in documentos %}
                                <a href="#">{{doc.tags_doc}}</a>
                            {% endfor %}

                        </div> -->
                    </aside>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Column-->
                        {% paginate 12 imagenes %}
                            {% for img in imagenes %}
                                <div class="column col-md-4 col-sm-6 col-xs-12">
                                    <!--Default Portfolio Item-->
                                    <div class="default-portfolio-item">
                                        <div class="inner-box text-center">
                                            <!--Image Box-->
                                            <figure class="image-box"><img src="http://cafodca.org{{img.foto.url_380x250}}" alt=""></figure>
                                            <div class="overlay-box">
                                                <div class="inner-content">
                                                    <div class="content">
                                                        <a data-fancybox="gallery" class="arrow lightbox-image" href="http://cafodca.org{{img.foto.url_640x480}}" title="{{img.nombre_img}}"><span class="icon flaticon-cross-4"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                    </div>
                </div>
            </div>


            <div class="styled-pagination mb-20">
                <ul>
                    {% show_pages %}
                </ul>
            </div>

        </div>
    </section>
</div>
{% endblock content %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
{% endblock extra_js %}
