{% extends "admin/base_admin.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="main-content prueba">
    <div class="container ">
        <div class="row stickem-container prueba">
        	<section>
                    <div class="blog-details-top mb40">
                        <div class="blog-details-top__text-content">
				        	<form action="." method="POST" class="form-inline" enctype="multipart/form-data">{% csrf_token %}
				        		{% if form.errors %}
                                    {{form.errors}}
                                {% endif %}

								{{ form.media }}
								{{form|crispy}}

							<h4 class="blog-details__title">Imagenes</h4>
                            <hr>

                            <div class="row">
                                {{ form2.management_form }}
                                {{form2.media}}
                                {% for img in form2 %}
                                <div class="col-sm-12  col-md-6 form-group">
                                    {{img.id}} <br>
                                    {{img.nombre_img}} <br>
                                    {{img.foto}} <br>
                                    Tags: {{img.tags_img}} {{img.tags_img.help_text}}
                                    Eliminar: {{img.DELETE}}
                                </div>
                                {% endfor %}
                            </div>

							<h4 class="blog-details__title">Documentos</h4>
                            <hr>

                            <div class="row">
                                {{ form3.management_form }}
                                {{form3.media}}
                                {% for doc in form3 %}
                                <div class="col-sm-12  col-md-6 form-group">
                                    {{doc.id}} <br>
                                    {{doc.nombre_doc}} <br>
                                    {{doc.adjunto}} <br>
                                    Tags: {{doc.tags_doc}} {{doc.tags_doc.help_text}}
                                    Eliminar: {{doc.DELETE}}
                                </div>
                                {% endfor %}
                            </div>
                            <input 
								<input type="submit" name="Editar" value="Actualizar">
							</form>
						</div>
					</div>
			</section>

		</div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
	$( "input, select" ).addClass( "form-control" );
	$( "input[type='submit']" ).removeClass( "form-control" ).addClass( "btn" );
</script>
{% endblock extra_js %}