{% extends "admin/base.html" %}

{% block content %}
<div data-bac="#fcfcfc">
        <section class="welcome-section pt-20 pb-20">
            <div class="auto-container">
                <div class="row clearfix perfil">
                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 detalle-perfil ">
                        <h3 class="theme_color"><b>Servicio de Información Mesoamericano sobre Agricultura Sostenible </b></h3>
                        <h3 class="theme_color_two"><b>SIMAS</b></h3>
                        <ul class="list-inline">
                            <li class="pais">
                                <!-- <img src="https://icon-icons.com/icons2/40/PNG/48/NicaraguaFlag_6444.png" alt="" width="20px"> -->
                                <span class="fa fa-map-marker icon"></span><span class="icon_text">Nicaragua</span>
                            </li>
                            <li class="fundacion">
                                <span class="fa fa-calendar icon"></span><span class="icon_text">Fundación 1990</span>
                            </li>
                            
                        </ul>
                        <div class="row clearfix">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h5 class="inner-title double-line line-left">Contacto</h5>
                                <ul class="list-inline">
                                    <li><span class="fa fa-envelope theme_color"></span> <a href="">simas@simas.com</a></li>
                                    <li><span class="fa fa-phone theme_color"> </span> <a href="">(+505) 22682302</a></li>
                                    <li><span class="fa fa-globe theme_color"></span> <a href="">www.simas.com.ni</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h5 class="inner-title double-line line-left">Redes</h5>
                                <div class="info-box social-box">
                                    <div class="social-links clearfix">
                                        <a href="#" class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
                                        <a href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                                        <a href="#" class="google-plus img-circle"><span class="fa fa-google-plus"></span></a>
                                        <a href="#" class="linkedin img-circle"><span class="fa fa-linkedin"></span></a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        

                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 logo-perfil">
                        <img src="https://objects-us-west-1.dream.io/monchitonet/wp-content/uploads/2014/01/simas.png" alt="" width="180px" class="pt-10 pb-10">
                        <div class="">
                            <a class="theme-btn btn-style-two ml-40" href="#">Editar</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="welcome-section pb-20" >
            <div class="auto-container" data-bac="#fff">

                <div class="row clearfix">
                    <div class="col-lg-12 org-contenido">
                        <div class="content-box">
                            <h4 class="inner-title double-line line-left">ACERCA DE</h4>
                            <p class="text">
                                Es una asociación civil sin fines de lucro comprometida en la construcción de formas de vida 
                                democrática y sostenible para el mundo rural. Su legalización se realizó mediante el Decreto 
                                No 3533 sesión Asamblea Nacional mayo 14 2003. 
                            </p>
                            <br>
                            <h4 class="inner-title double-line line-left">NUESTRA MISIÓN</h4>
                            <p class="text">
                                Fortalecemos en conjunto con otros actores en articulación mesoamericana los procesos de innovación y comunicación para el desarrollo de capacidades de aprendizaje de las familias campesinas en Agricultura Sostenible, que permite el desarrollo humano rural integral con equidad de género y generacional.
                            </p>
                            <br>
                            <h4 class="inner-title double-line line-left">NUESTRA VISIÓN DE DESARROLLO</h4>
                            <p class="text">
                                Familias campesinas con capacidades de aprendizaje para afrontar retos ambientales y su inclusión a mercados e innovar junto con actores sociales una propuesta estructurada de desarrollo sostenible.
                            </p>
                            
                            
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="welcome-section pb-60">
            <div class="auto-container" data-bac="#fff">

                <div class="row clearfix">
                    <div class="col-lg-12 org-contenido">
                        <div class="content-box">
                            <h4 class="inner-title double-line line-left">Estadisticas</h4>
                            <div class="fact-counter">         
                                <div class="row clearfix">
                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><span class="fa fa-file-text-o"></span></div>
                                            <h4 class="counter-title">Noticias Publicadas</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="1000" data-stop="53">0</span></div>
                                         </div>
                                    </article>
                                    
                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><span class="fa fa-calendar"></span></div>
                                            <h4 class="counter-title">Eventos Publicados</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="25">0</span></div>
                                        </div>
                                    </article>
                                    
                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><span class="fa fa-film"></span></div>
                                            <h4 class="counter-title">Contenido Multimedia</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="2500" data-stop="47">0</span></div>
                                        </div>
                                    </article>

                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><span class="fa fa-users"></span></div>
                                            <h4 class="counter-title">Participación Foros</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="2500" data-stop="39">0</span></div>
                                        </div>
                                    </article>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
    </div>
{% endblock content %}
    

  
   