{% extends "admin/base_admin.html" %}

{% block content %}
<div data-bac="#fcfcfc">
        
        <section class="welcome-section pt-20 pb-20">
            <div class="auto-container">
                <div class="row clearfix perfil">
                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 detalle-perfil ">
                        <h3 class="theme_color"><b>{{contraparte.nombre}} </b></h3>
                        <h3 class="theme_color_two"><b>{{contraparte.siglas}}</b></h3>
                        <ul class="list-inline">
                            <li class="pais">
                                <!-- <img src="https://icon-icons.com/icons2/40/PNG/48/NicaraguaFlag_6444.png" alt="" width="20px"> -->
                                <span class="fa fa-map-marker icon"></span><span class="icon_text">{{contraparte.pais}}</span>
                            </li>
                            <li class="fundacion">
                                <span class="fa fa-calendar icon"></span><span class="icon_text">Fundación {{contraparte.fundacion}}</span>
                            </li>
                            
                        </ul>
                        <div class="row clearfix">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h5 class="inner-title double-line line-left">Contacto</h5>
                                <ul class="list-inline">
                                    <li><span class="fa fa-envelope theme_color"></span> <a href="">simas@simas.com</a></li>
                                    <li><span class="fa fa-phone theme_color"> </span> <a href="">{{contraparte.telefono}}</a></li>
                                    <!--<li><span class="fa fa-globe theme_color"></span> <a href="">www.simas.com.ni</a></li>-->
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h5 class="inner-title double-line line-left">Redes</h5>
                                <div class="info-box social-box">
                                    <div class="social-links clearfix">
                                        {% for red in contraparte.redes_set.all %}
                                        <a href="{{red.url}}" class="img-circle" target="_blank"><span class="{% if red.opcion == 'Sitio web' %}
                                                                fa fa-globe
                                                            {% elif red.opcion == 'Facebook' %}
                                                                fa fa-facebook
                                                            {% elif red.opcion == 'Twitter' %}
                                                                fa fa-twitter
                                                            {% elif red.opcion == 'Youtube' %}
                                                                fa fa-youtube
                                                            {% elif red.opcion == 'Google+' %}
                                                                fa fa-google
                                                            {% elif red.opcion == 'Instagram' %}
                                                                fa fa-instagram
                                                            {% elif red.opcion == 'Linkedin' %}
                                                                fa fa-linkedin
                                                            {% elif red.opcion == 'Flickr' %}
                                                                fa fa-flickr
                                                            {% elif red.opcion == 'Pinterest' %}
                                                                fa fa-pinterest
                                                            {% elif red.opcion == 'Vimeo' %}
                                                                fa fa-vimeo
                                                            {% elif red.opcion == 'Otra' %}
                                                                fa fa-link
                                                            {% endif %}"></span></a>
                                        {% endfor %}
                                       
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        

                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 logo-perfil">
                        <img src="{{contraparte.logo.url_350x250}}" alt="" width="180px" class="pt-10 pb-10">

                        <div class="">
                            <a class="theme-btn btn-style-two ml-40" href="{% url 'editar-contraparte' contraparte.id %}">Editar</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="welcome-section pb-20" >
            <div class="auto-container" data-bac="#fff">

                <div class="row clearfix">
                    <div class="col-lg-12 org-contenido">
                        <div class="content-box">
                            <h4 class="inner-title double-line line-left">GENERALIDADES</h4>
                            <p class="text">
                                {{contraparte.generalidades|safe}} 
                            </p>
                            <br>
                            <h4 class="inner-title double-line line-left">TEMAS</h4>
                            <p class="text">
                                {{contraparte.temas|safe}} 
                            </p>
                            
                            
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="welcome-section pb-60">
            <div class="auto-container" data-bac="#fff">

                <div class="row clearfix">
                    <div class="col-lg-12 org-contenido">
                        <div class="content-box">
                            <h4 class="inner-title double-line line-left">Estadisticas</h4>
                            <div class="fact-counter">         
                                <div class="row clearfix">
                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><span class="fa fa-file-text-o"></span></div>
                                            <h4 class="counter-title">Noticias Publicadas</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="1000" data-stop="53">0</span></div>
                                         </div>
                                    </article>
                                    
                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><span class="fa fa-calendar"></span></div>
                                            <h4 class="counter-title">Eventos Publicados</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="25">0</span></div>
                                        </div>
                                    </article>
                                    
                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><span class="fa fa-film"></span></div>
                                            <h4 class="counter-title">Contenido Multimedia</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="2500" data-stop="47">0</span></div>
                                        </div>
                                    </article>

                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><span class="fa fa-users"></span></div>
                                            <h4 class="counter-title">Participación Foros</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="2500" data-stop="39">0</span></div>
                                        </div>
                                    </article>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
</div>
{% endblock content %}
    

  
   