{% extends "admin/base_admin.html" %}
{% load el_pagination_tags %}
{% load embed_video_tags %}

{% block content %}
<div data-bac="#fcfcfc">
    <section class="welcome-section pt-20 pb-20">
        <div class="auto-container">
            <div class="row clearfix perfil">
            	<a href="/foros/privado/multimedia_fotos/">Imagenes</a>
            	<a href="/foros/privado/multimedia_videos/">Videos</a>
            	<a href="/foros/privado/multimedia_audios/">Audios</a>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 detalle-perfil ">
                	{% paginate 12 videos %}
                	{% for vid in videos %}
                		<div class="col-md-3">
                            {% video vid.url '380x250' %}
                		</div>
                	{% endfor %}
                	<div class="styled-pagination mb-20">
                            <ul>
                                {% show_pages %}
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}