.header-style-two{
	background: #453A36;
}
.logocafod{
	width: 100%;
    padding: 20px;
    margin-top: -25px;
    margin-left: 5px;
}
.btn-nav {
    background-color: #FFFAFA;
    border-radius: 0px !important;
    border: 1px solid #e0e1db;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin-bottom: 20px;
}
.btn-nav:hover {
    color: #FFFAFA;
    cursor: pointer;
    -webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
    transition: color 1s;
}
.btn-nav.active {
    color: #FFFAFA;
    padding: 2px;
    border-left: 0;
    border-right: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -moz-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -ms-transition: border 0.3s ease-out, color 0.3s ease 0.5s; /* IE10 is actually unprefixed */
    -o-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
    -webkit-box-shadow: 1px 4px 6px 0px rgba(122,122,122,0.5);
	-moz-box-shadow: 1px 4px 6px 0px rgba(122,122,122,0.5);
	box-shadow: 1px 4px 6px 0px rgba(122,122,122,0.5);
}
.btn.active:focus{
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.btn-nav .fa {
    padding-top: 16px;
    font-size: 40px;
}
.btn-nav.active p {
    margin-bottom: 8px;
}
@-webkit-keyframes pulsate {
 50% { color: #FFFAFA; }
}
@keyframes pulsate {
 50% { color: #FFFAFA; }
}
@media (max-width: 480px) {
    .btn-group {
        display: block !important;
        float: none !important;
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media (max-width: 600px) {
    .btn-nav .glyphicon {
        padding-top: 12px;
        font-size: 26px;
    }
}
.menu-admin .btn {
  border: 1px solid #93C55E;
  border-radius: 5px;
  background: transparent;
  color: #93C55E;
  font-size: 16px;
  display: inline-block;
  min-width: 122px;
  white-space: nowrap;
  padding: 9px 15px;
  font-weight: 500;
}

.menu-admin .btn:hover {
  background: #fff;
  color: #f14b05;
  border-color: #f14b05;
}
.menu-admin .btn.active{
background: #f14b05;
  color: #fff;
  border-color: #f14b05;
}

.menu-admin .btn.base-bg {
  border-color: #93C55E;
  color: #fff;
  background: #93C55E;
}

.detalle-perfil ul li {
  font-size: 18px;
  padding: 5px;
}
.detalle-perfil ul li span{
  font-size: 20px;
}
.detalle-perfil ul li a{
  color: #25292f;
}
.detalle-perfil ul li a:hover{
  color: #93C55E;
}
.pais .icon_text{
  border:0px solid #93C55E;
  color: #fff;
  padding: 10px;
  text-align: center;
  background: #93C55E;
}
.pais .icon{
  border:2px solid #93C55E;
  color: #93C55E;
  padding: 10px;
  text-align: center;
  background: white;
}
.fundacion .icon_text{
  border:0px solid #f14b05;
  color: #fff;
  padding: 10px;
  text-align: center;
  background: #f14b05;
}
.fundacion .icon{
  border:2px solid #f14b05;
  color: #f14b05;
  padding: 10px;
  text-align: center;
  background: white;
}
.detalle-perfil .inner-title{
  font-size: 20px;

}
.org-contenido .content-box{
  padding: 20px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

 .detalle-perfil .social-links{
    position:relative;
}

.detalle-perfil .social-links a{
    position:relative;
    display:inline-block;
    width:34px;
    height:34px;
    font-size:14px;
    margin:0px 3px 5px;
    line-height:32px;
    border-radius:50%;
    text-align:center;
    border:1px solid #f14b05;
    color:#fff;
    transition:all 300ms ease;
    -webkit-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    background: #f14b05;
}

.detalle-perfil .social-links a:hover{
    background-color:#93C55E;
    color:#ffffff;
    border-color:#93C55E;
}
.theme_color_two{
    color: #f14b05 !important;
}
.cont_org{
  max-height: 76px;
  overflow: hidden;
}
.admin-btn {
    position: relative;
    float: right;
}
.perfil .panel {
  padding: 20px;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}
.perfil .panel .panel-title{
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}
.flex_container{
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}
.foro-title{
  display: flex;
  flex-wrap: nowrap;
   align-items: baseline;
}
.box_shadow{
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    max-width: 960px;
}
.btn-style-danger{
  position:relative;
  display:inline-block;
  line-height:24px;
  padding:11px 25px;
  font-size:13px;
  font-weight:700;
  text-transform:uppercase;
  background:#c9302c;
  color:#ffffff !important;
  border:2px solid #c9302c !important;
  border-radius:3px;
}

.btn-style-danger:hover{
  background:#ffffff;
  color:#c9302c !important;
  border-color:#93C55E; 
}
.column.blog-news-column.foro_content  .content-box{
  padding: 0px !important;
}
.sidebar_foro .widget{
    margin-bottom: 10px;
}
.sidebar_foro .sidebar-title{
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.attached_comment{
  padding-bottom: 20px;
}
.team-section .team-member .image{
  height: 178px;
  overflow: hidden;
}
.orgdetail-section{
  margin-top: 30px;
}
.controls  [name="nombre"]{
  min-width: 60% !important;
}
.gallery-section .filter-btns li{
  padding
}
.gallery-section .filter-btns.btngallery_admin li a{
    padding: 9px 25px;
  }
.gallery-section .filter-btns.btngallery_admin li:hover a, .gallery-section .filter-btns li.active a{
    color: #ffffff;

}
.tp-caption.sfl.sfb.tp-resizeme.text-center.prueba.start{
  left: auto;
  padding: 20px;
}
.tp-caption.prueba{
      white-space: inherit;
      margin-top: 20px;
      background: rgba(69, 58, 54, 0.5);
}
