<!DOCTYPE html>
{% load static solo_tags %}
{% load thumbnail %}
{% load embed_video_tags %}
<html>
<head>
    {% get_solo 'configuracion.SiteConfiguration' as site_config %}
<meta charset="utf-8">

<title>{{ site_config.site_name }}</title>
{% block share_fb %}{% endblock share_fb %}
<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Stylesheets -->
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/revolution-slider.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="/static/css/bootstrap-margin-padding.css" rel="stylesheet">
<link href="/static/css/responsive.css" rel="stylesheet">
<link href="/static/css/newstyle.css" rel="stylesheet">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
{% block extra_css %}{% endblock extra_css %}
<style type="text/css">
.header-style-two .header-top .info-box strong a {
    color: #ffffff;
}
</style>
</head>

<body>
<div class="page-wrapper">


    <!-- Header Style Two-->
    <header class="header-style-two">
        <div class="header-top">
            <div class="auto-container clearfix">

                 <!--Info Outer-->
                 <div class="info-outer">
                    <!--Info Box-->
                    {% if user.is_authenticated %}
                    <div class="info-box">
                        <div class="icon"><span class="fa fa-user"></span></div>
                        <strong><a href="/foros/perfil/">{{user.get_full_name|default:user.username}}</a></strong>
                    </div>

                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon"><span class="fa fa-power-off"></span></div>
                        <strong><a href="/accounts/logout/">Salir</a></strong>
                    </div>
                    {% else %}
                    <div class="info-box">
                        <div class="icon"><span class="fa fa-user"></span></div>
                        <strong><a href="/accounts/login/">Iniciar sesion</a></strong>
                    </div>
                    {% endif %}

                    <!--Info Box-->
                    <div class="info-box social-box">
                        <div class="social-links clearfix">
                            <a href="https://www.facebook.com/cafod" class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
                            <a href="https://twitter.com/CAFOD" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                            <a href="http://www.youtube.com/cafodtv" class="youtube img-circle"><span class="fa fa-youtube"></span></a>
                            <a href="https://www.instagram.com/CAFOD" class="instagram img-circle"><span class="fa fa-instagram"></span></a>
                            <a href="https://plus.google.com/+CAFOD" class="google-plus img-circle"><span class="fa fa-google-plus"></span></a>

                        </div>
                    </div>
                 </div>

            </div>
        </div><!-- Header Top End -->

        <!-- Lower Part -->
        <div class="lower-part">
            <div class="auto-container clearfix">

                <!--Outer Box-->
                <div class="outer-box clearfix">

                    <!--Btn Box-->
                    <div class="btn-box">
                        <a href="/" class="theme-btn donate-btn" data-target="#donate-popup"><img class="logocafod" src="/static/images/logo2.png" alt="Greenture"></a>
                    </div>

                    <!-- Main Menu -->
                    <nav class="main-menu">

                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation">

                                <li><a href="/">Inicio</a></li>
                                <li><a href="/notas">Noticias</a></li>
                                <li><a href="/acerca/">Acerca de</a></li>
                                <li><a href="/contrapartes/">Copartes</a></li>
                                <li><a href="/agendas">Eventos</a></li>
                                <li class="dropdown"><a href="#">Galeria</a>
                                    <ul>
                                        <li><a href="/notas/imagenes/">Imágenes</a></li>
                                        <li><a href="/notas/videos/">Videos</a></li>
                                    </ul>
                                </li>
                                {% if user.is_authenticated %}
                                    <li class="visible-xs"><a href="/foros/perfil/">{{user.get_full_name|default:user.username}}</a></li>
                                    <li class="visible-xs"><a href="/accounts/logout/">Salir</a></li>
                                {% else %}
                                    <li class="visible-xs"><a href="/accounts/login/">Iniciar sesion</a></li>
                                {% endif %}


                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->

                </div>
            </div>
        </div><!-- Lower Part End-->

    </header><!--End Header Style Two-->


    {% block content %}{% endblock content %}

    <!--Main Footer-->
    <footer class="main-footer" style="background-image:url(/static/images/2.jpg);">

        <!--Footer Upper-->
        <div class="footer-upper">
            <div class="auto-container">
                <div class="row clearfix">

                    <div class="col-lg-3 col-sm-6 col-xs-12 column mb-xs-50">
                        <div class="footer-widget about-widget">
                            <div class="logo"><a href="index.html"><img src="/static/images/logowhite.png" class="img-responsive" alt=""></a></div>
                            <br>

                            <ul class="contact-info">
                                <li>
                                    <span class="icon fa fa-map-marker"></span>
                                    De Enacal Altamira 2 Cuadras arriba, Casa#83 <br> Colonial Los Robles, Managua, Nicaraguaa
                                </li>
                                <li><span class="icon fa fa-phone"></span> (505) 2270-0240</li>
                                <li><span class="icon fa fa-envelope-o"></span> wberrios@cafod.org.uk</li>
                            </ul>

                            <div class="social-links-two clearfix">

                                <a href="https://www.facebook.com/cafod" class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
                                <a href="https://twitter.com/CAFOD" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                                <a href="http://www.youtube.com/cafodtv" class="youtube img-circle"><span class="fa fa-youtube"></span></a>
                                <a href="https://www.instagram.com/CAFOD" class="instagram img-circle"><span class="fa fa-instagram"></span></a>
                            </div>

                        </div>
                    </div>

                    <!--Footer Column-->
                    <div class="col-lg-2 col-sm-6 col-xs-12 column">
                        <h2>Enlaces de interés</h2>
                        <div class="footer-widget links-widget">
                            <ul>
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/notas">Noticias</a></li>
                                <li><a href="/acerca/">Acerca de</a></li>
                                <li><a href="/contrapartes/">Contrapartes</a></li>
                                <li><a href="/agendas">Eventos</a></li>
                            </ul>

                        </div>
                    </div>

                    <!--Footer Column-->
                    <div class="col-lg-3 col-sm-6 col-xs-12 column">
                        <div class="footer-widget news-widget">
                            <h2>Últimas Noticias</h2>

                            <!--News Post-->
                            {% for lastnews in footer_notas %}
                                <div class="news-post">
                                    <div class="icon"></div>
                                    <div class="news-content">
                                        <figure class="image-thumb">
                                        {% if lastnews.foto %}
                                            {% thumbnail lastnews.foto "65x43" as im %}
                                                <img src="{{ im.url }}">
                                            {% endthumbnail %}
                                        {% elif lastnews.video%}
                                            {% video lastnews.video '65x43' %}
                                        {% else %}
                                            <img src="https://via.placeholder.com/65x43">
                                        {% endif %}
                                       </figure><a href="{% url 'notas-detail' lastnews.id %}">{{lastnews.titulo}}</a></div>
                                    <div class="time">{{lastnews.fecha}}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!--Footer Column-->
                    <div class="col-lg-4 col-sm-6 col-xs-12 column">
                        <div class="footer-widget contact-widget">
                            <h2>Contáctanos</h2>
                            <form action="inc/sendemail.php" class="contact-form" id="footer-cf">
                                <input type="text" name="Nombre"  placeholder="Nombre Completo">
                                <input type="text" name="Correo" placeholder="Correo" >
                                <textarea name="message" placeholder="Mensaje"></textarea>
                                <button type="submit">Enviar</button>
                            </form>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container clearfix">
                <!--Copyright-->
                <div class="copyright text-center">Copyright 2018 &copy; Plataforma desarrollada por <a href="http://www.simas.org.ni/">SIMAS</a></div>
            </div>
        </div>

    </footer>

</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".page-wrapper"><span class="fa fa-long-arrow-up"></span></div>


<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/revolution.min.js"></script>
<script src="/static/js/jquery.bxslider.min.js"></script>

<script src="/static/js/owl.js"></script>
<script src="/static/js/mixitup.js"></script>
<script src="/static/js/wow.js"></script>
<script src="/static/js/circle-progress.js"></script>
<script src="/static/js/jquery.appear.js"></script>
<script src="/static/js/jquery.countTo.js"></script>
{% block extra_fancy %}{% endblock extra_fancy %}
<script src="/static/js/script.js"></script>
<script type="text/javascript">
$( "a.endless_page_link:contains('>')" ).text( "Siguiente" ).addClass("next").append( '&ensp;<span class="fa fa-angle-right"></span>' );
$( "a.endless_page_link:contains('<')" ).text( "Anterior" ).addClass("prev").prepend( '<span class="fa fa-angle-left"></span>&ensp;' );
</script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
