{% extends "base.html" %}

{% load thumbnail %}
{% load tagging_tags %}
{% load embed_video_tags %}
{% block share_fb %}
    <meta property="og:title" content="{{object.titulo}}" />

    {% if object.video %}
        <meta property="og:type" content="article" />
        <meta property="og:video" content="{{object.video}} " />
        <meta property="og:video:width" content="398">
        <meta property="og:video:height" content="264">
    {% else %}
        <meta property="og:type" content="article" />
        <meta property="og:image" content="http://cafodca.org/static/uploads/{{object.foto}}">
        <meta property="og:image:width" content="300" />
        <meta property="og:image:height" content="300" />
    {% endif %}
    <meta property="og:description" content="{{object.contenido|striptags}}" />
    <meta property="og:url" content="http://cafodca.org{{request.path}}" />
    <meta property="og:locale" content="es_ES" />

    <meta name="twitter:title" content="{{object.titulo}}">
    <meta name="twitter:description" content="{{object.contenido|striptags}}">
    <meta name="twitter:image" content="http://cafodca.org/static/uploads/{{object.foto}}">
    <meta name="twitter:site" content="@CAFOD">
    <meta name="twitter:creator" content="@CAFOD">
{% endblock share_fb %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
{% endblock extra_css %}
{% block content %}
       <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/banner/2.jpg);">
        <div class="auto-container">
            <div class="sec-title">
                <h1>Detalles <span class="normal-font">Noticia</span></h1>
                <div class="bread-crumb">
                    <a href="/">Inicio</a> / <a href="/notas">Noticias</a> /
                    <a href="#" class="current">Detalles Noticia</a>
                </div>
            </div>
        </div>
    </section>



    <!--Sidebar Page-->
    <div class="sidebar-page">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side-->
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">

                    <!--Projects Section-->
                    <section class="blog-news-section blog-detail no-padd-bottom no-padd-top padd-right-20">

                        <!--News Column-->
                        <div class="column blog-news-column">
                            <article class="inner-box">
                                <figure class="image-box">
                                    <a href="#">
                                    {% if object.foto %}
                                        {% thumbnail object.foto "640x480" as im %}
                                            <img src="{{ im.url }}">
                                        {% endthumbnail %}
                                    {% elif object.video%}
                                        {% video object.video '850x637' %}
                                    {% elif object.fotos.all %}
                                        {%for thumb in object.fotos.all|slice:"1"%}
                                        <img src="{{thumb.foto.url_640x480}}" alt="">
                                        {% endfor %}
                                    {% else %}
                                        <img src="https://via.placeholder.com/640x480">
                                    {% endif %}
                                    </a>
                                    <div class="news-date">{{object.fecha|date:'d'}}<span class="month">{{object.fecha|date:'M'}}</span></div>
                                </figure>
                                <div class="content-box padd-top-30">
                                    <h3>{{object.titulo}}</h3>
                                    <div class="post-info clearfix">
                                        <div class="post-author">Por <span class="theme_color"> {{object.user.get_full_name}}</span></div>
                                        <div class="post-options clearfix">
                                            <a href="#" class="comments-count"><span class="icon fa fa-calendar"></span>{{object.fecha}}</a>
                                        </div>
                                    </div>
                                    <div class="text">
                                        {{object.contenido|safe}}
                                    </div>
                                    {% if object.adjuntos.all %}
                                        {% for adjunto in object.adjuntos.all %}
                                            <div class="mb-40">
                                                <h4><b>Documentos adjuntos</b></h4>
                                                <hr>
                                                <a class="btn-theme btn-style-three" href="/uploads/{{adjunto.adjunto}}" target="_blank">{{adjunto.nombre_doc}} <span class="fa fa-download"></span></a>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                </div>

                                <div class="post-share-options clearfix">
                                    <div class="pull-left tags"><strong>Tag</strong> :
                                        {% tags_for_object object as tags%}
                                        {% for tag  in tags  %}
                                                <a>{{tag}}</a> {% if forloop.last %} {%else%},{% endif %}
                                        {% endfor %}


                                    </div>
                                    <div class="pull-right social-links-two clearfix">
                                        <a href="https://www.facebook.com/sharer.php?u=http://cafodca.org{{request.path}}" class="facebook img-circle customer share">
                                            <span class="fa fa-facebook-f"></span>
                                        </a>
                                        <a href="https://twitter.com/share?url=http://cafodca.org{{request.path}}&amp;text={{object.titulo}} &amp;" class="twitter img-circle customer share">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                        <a href="https://plus.google.com/share?url=http://cafodca.org{{request.path}}" class="google-plus img-circle customer share">
                                            <span class="fa fa-google-plus"></span>
                                        </a>
                                    </div>
                                </div>


                            </article>
                        </div>
                    </section>


                </div>
                <!--Content Side-->

                <!--Sidebar-->
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">

                        <!-- Search Form -->
                        <div class="widget search-box">

                            <form method="post" action="index.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Buscar">
                                    <button type="submit"><span class="icon flaticon-tool-5"></span></button>
                                </div>
                            </form>

                        </div>

                        <!-- Galeria -->
                        <div class="widget popular-categories wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Imágenes</h3></div>

                            <ul class="img_notas">
                                {% for fotos in object.fotos.all %}
                                    <li><a data-fancybox="gallery" href="{{fotos.foto.url_640x480}}" data-caption="{{fotos.nombre_img}}"><img src="{{fotos.foto.url_80x80}}" ></a></li>
                                {% endfor %}

                            </ul>

                        </div>

                        <!-- Recent Posts -->
                        <div class="widget recent-posts wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Últimas Noticias</h3></div>

                            {% for nota in ultimas_notas %}
                            <article class="post">
                                <figure class="post-thumb">
                                    {% if nota.foto %}
                                        {% thumbnail nota.foto "380x250" as im %}
                                            <img src="{{ im.url }}">
                                        {% endthumbnail %}
                                    {% elif nota.fotos.all %}
                                        {%for thumb in nota.fotos.all|slice:"1"%}
                                        <img src="{{thumb.foto.url_380x250}}" alt="">
                                        {% endfor %}
                                    {% else %}
                                    <img src="https://via.placeholder.com/380x250">
                                    {% endif %}

                                </figure>
                                <h4><a href="{% url 'notas-detail' nota.id %}">{{nota.titulo}}</a></h4>
                                <div class="post-info"><span class="icon flaticon-people-1"></span> Por {{nota.user.get_full_name}} </div>
                            </article>
                            {% endfor %}

                        </div>

                        <!-- Archives -->
                        <div class="widget archives-list wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Pais</h3></div>

                            <ul class="list">
                                {% for pais in paises %}
                                    <li><a href="{% url 'notas_list_pais' pais.id %}">{{pais}}</a></li>
                                {% endfor %}
                            </ul>

                        </div>

                        <!-- Popular Tags -->
                        <div class="widget popular-tags">
                            <div class="sidebar-title"><h3>Palabras claves</h3></div>
                             {% tags_for_object object as notas_tag%}
                             {% for a in notas_tag %}
                                    <a>{{a}}</a>
                             {% endfor %}
                        </div>

                    </aside>
                </div>
                <!--Sidebar-->

            </div>
        </div>
    </div>

{% endblock content %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
    <script src="/static/js/share.js"></script>
{% endblock extra_js %}
