{% extends "base.html" %}

{% block content %}
       <!--Page Title-->
    <section class="page-title" style="background-image:url(http://www.vielva.cl/img/Category/5/AGRICOLA.png);">
        <div class="auto-container">
            <div class="sec-title">
                <h1>Detalles <span class="normal-font">Noticia</span></h1>
                <div class="bread-crumb">
                    <a href="/">Inicio</a> / <a href="">Noticias</a> /
                    <a href="#" class="current">Detalles Noticia</a>
                </div>
            </div>
        </div>
    </section>
    
    
    <!--Sidebar Page-->
    <div class="sidebar-page">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Content Side--> 
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    
                    <!--Projects Section-->
                    <section class="blog-news-section blog-detail no-padd-bottom no-padd-top padd-right-20">
                            
                        <!--News Column-->
                        <div class="column blog-news-column">
                            <article class="inner-box">
                                <figure class="image-box">
                                    <a href="#"><img src="http://www.simas.org.ni/media/cache/85/9e/859e1c75aa73eca4f32b553b1268f37b.jpg" alt=""></a>
                                    <div class="news-date">{{object.fecha|date:'d'}}<span class="month">{{object.fecha|date:'M'}}</span></div>
                                </figure>
                                <div class="content-box padd-top-30">
                                    <h3>{{object.titulo}}</h3>
                                    <div class="post-info clearfix">
                                        <div class="post-author">Por <span class="theme_color"> {{object.user.get_full_name}}</span></div>
                                        <div class="post-options clearfix">
                                            <a href="#" class="comments-count"><span class="icon fa fa-eye"></span> 6</a>
                                        </div>
                                    </div>
                                    <div class="text">
                                        {{object.contenido|safe}}    
                                    </div>
                                </div>
                                
                                <div class="post-share-options clearfix">
                                    <div class="pull-left tags"><strong>Tag</strong> : <a href="#">Environment</a>, <a href="#">Seed</a>, <a href="#">Nature</a></div>
                                    <div class="pull-right social-links-two clearfix">
                                        <a href="#" class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
                                        <a href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                                        <a href="#" class="google-plus img-circle"><span class="fa fa-google-plus"></span></a>
                                    </div>
                                </div>
                                
                            </article>
                        </div>                        
                    </section>
                
                    
                </div>
                <!--Content Side-->
                
                <!--Sidebar-->  
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">
                    
                        <!-- Search Form -->
                        <div class="widget search-box">
                            
                            <form method="post" action="index.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Buscar">
                                    <button type="submit"><span class="icon flaticon-tool-5"></span></button>
                                </div>
                            </form>
                            
                        </div>
                        
                        <!-- Popular Categories -->
                        <div class="widget popular-categories wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Temas</h3></div>
                            
                            <ul class="list">
                                <li><a href="#" class="pdr10">Cambio climatico</a></li>
                                    <li><a href="#" class="pdr10">Economia Solidaria</a></li>
                                    <li><a href="#" class="pdr10">Educación</a></li>
                                    <li><a href="#" class="pdr10">Medios de vida</a></li>
                                    <li><a href="#" class="pdr10">Minería</a></li>
                                    <li><a href="#" class="pdr10">Promotoria rural </a></li>

                            </ul>
                            
                        </div>
                        
                        
                        <!-- Recent Posts -->
                        <div class="widget recent-posts wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Últimas Noticias</h3></div>
                            
                            <article class="post">
                                <figure class="post-thumb"><img src="http://cafodca.org/uploads/fotos/30742507_1938604222816660_8820942908413706240_o.380x250.jpg" alt=""></figure>
                                <h4><a href="#">Visita a la comunidad Chupoj II, y III</a></h4>
                                <div class="post-info"><span class="icon flaticon-people-1"></span> Por Pablo Garcia </div>
                            </article>
                            
                             <article class="post">
                                <figure class="post-thumb"><img src="http://cafodca.org/uploads/fotos/30742507_1938604222816660_8820942908413706240_o.380x250.jpg" alt=""></figure>
                                <h4><a href="#">Visita a la comunidad Chupoj II, y III</a></h4>
                                <div class="post-info"><span class="icon flaticon-people-1"></span> Por Pablo Garcia </div>
                            </article>
                            
                            <article class="post">
                                <figure class="post-thumb"><img src="http://cafodca.org/uploads/fotos/30742507_1938604222816660_8820942908413706240_o.380x250.jpg" alt=""></figure>
                                <h4><a href="#">Visita a la comunidad Chupoj II, y III</a></h4>
                                <div class="post-info"><span class="icon flaticon-people-1"></span> Por Pablo Garcia </div>
                            </article>
                            
                        </div>
                        
                        <!-- Archives -->
                        <div class="widget archives-list wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Pais</h3></div>
                            
                            <ul class="list">
                                <li><a href="#">Nicaragua</a></li>
                                <li><a href="#">Honduras</a></li>
                                <li><a href="#">El Salvador</a></li>
                                <li><a href="#">Guatemala</a></li>
                            </ul>
                            
                        </div>
                        
                        <!-- Popular Tags -->
                        <div class="widget popular-tags">
                            <div class="sidebar-title"><h3>Palabras claves</h3></div>
                            
                                <a href="#">acciones</a>
                                <a href="#">agricultura</a>
                                <a href="#">agua</a>
                                <a href="#">cambio climatico</a>
                                <a href="#">clima</a>
                                <a href="#">cultivo</a>
                                <a href="#">derechos</a>
                                <a href="#">energia</a>
                                <a href="#">familias</a>
                                <a href="#">igualdad</a>
                            
                        </div>
                                
                    </aside>
                
                    
                </div>
                <!--Sidebar-->                
                
            </div>
        </div>
    </div>

{% endblock content %}