{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}

{% block content %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/banner/4.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1>Contrapartes</h1>
                <div class="bread-crumb"><a href="/">Inicio</a> / <a href="/contrapartes/" class="current">Contrapartes</a></div>
            </div>
        </div>
    </section>


    <!--Sidebar Page-->
    <div class="team-section pb-0">
    	<div class="auto-container">

        	<div class="row clearfix lista_copartes">
                {% paginate 8 object_list %}
                    {% for object in object_list %}
                        <article class="column team-member col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image">
                                    <a href="{% url 'detalle-contraparte' object.id %}">
                                        {% if object.logo %}
                                            {% thumbnail object.logo "270x270" as im %}
                                                <img src="{{ im.url }}" width="100%">
                                            {% endthumbnail %}
                                        {% else %}
                                            <img src="https://via.placeholder.com/270x270" width="100%">
                                        {% endif %}
                                    </a>
                                </figure>
                                <div class="member-info">
                                    <h3><a href="{% url 'detalle-contraparte' object.id %}">{{object.siglas}}</a></h3>
                                    <div class="designation"><img src="/static/images/{{object.pais.codigo}}-g.png" alt="" width="25px"> <span>{{object.pais}}</span></div>
                                </div>
                                <div class="content">
                                    <div class="text  cont_org"><p>{{object.generalidades|safe|striptags|truncatechars:130}}</p></div>
                                    <div class="social-links">
                                        {% for red in object.redes_set.all %}
                                            <a href="{{red.url}}"><span class="fa fa-{{red.opcion|lower}}"></span></a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}

            </div>
            <!-- Styled Pagination -->
                        <div class="styled-pagination mb-20 mt-40">
                            <ul>
                                {% show_pages %}
                                <!--<li><a class="prev" href="#"><span class="fa fa-angle-left"></span>&ensp;Anterior</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#" class="active">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a class="next" href="#">Siguiente&ensp;<span class="fa fa-angle-right"></span></a></li>-->

                            </ul>
                        </div>

        </div>
    </div>
{% endblock content %}
