{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}

{% block content %}
        <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/banner/1.jpg);">
        <div class="auto-container">
            <div class="sec-title">
                <h1>Eventos</h1>
                <div class="bread-crumb"><a href="/">Inicio</a> / <a href="/agendas" class="current">Eventos</a></div>
            </div>
        </div>
    </section>

    <!--Sidebar Page-->
    <div class="sidebar-page">
        <div class="auto-container">
            <!--Filters Section-->
            <div class="row clearfix">

                <!--Content Side-->
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">

                    <!--Events Section / List View-->
                    <section class="events-section events-list-section list-view pb-0 pt-0 pr-20">

                        <!--Featured Column-->
                        {% paginate 4 object_list %}
                        {% for object in object_list %}
                            <div class="column default-featured-column style-two">
                            <article class="inner-box">
                                <div class="row clearfix">
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <figure class="image-box">
                                            <a href="{% url 'agenda-detail' object.id %}">
                                                {% if object.foto %}
                                                    {% thumbnail object.foto "380x250" crop="center" as im %}
                                                        <img src="{{ im.url }}">
                                                    {% endthumbnail %}
                                                {% else %}
                                                    <img src="https://via.placeholder.com/380x250">
                                                {% endif %}
                                            </a>
                                            <div class="post-tag">{{object.inicio|date:'d M Y'}}</div>
                                        </figure>
                                    </div>

                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                        <div class="content-box">
                                            <h3><a href="{% url 'agenda-detail' object.id %}">{{object.evento}}</a></h3>
                                            <ul class="event-held list-inline mb-15">
                                                <li class="theme_color "><i class="black_color fa fa-clock-o mr-5"></i> De {{object.hora_inicio|time:'g:i a'}} - {{object.hora_fin|time:'g:i a'}}</li>
                                                <li class="theme_color "> <i class="black_color fa fa-map-marker mr-5"></i>{{object.lugar}}</li>
                                            </ul>
                                            <div class="text">{{object.descripcion|safe|striptags|truncatechars:130}}</div>
                                            <a href="{% url 'agenda-detail' object.id %}" class="theme-btn btn-style-four btn-sm mr-10">Leer más</a>
                                        </div>
                                    </div>

                                </div>
                            </article>
                        </div>
                        {% endfor %}


                        <!-- Styled Pagination -->
                        <div class="styled-pagination mb-20">
                            <ul>
                                {% show_pages %}
                                <!--<li><a class="prev" href="#"><span class="fa fa-angle-left"></span>&ensp;Anterior</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#" class="active">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a class="next" href="#">Siguiente&ensp;<span class="fa fa-angle-right"></span></a></li>-->
                            </ul>
                        </div>
                    </section>


                </div>
                <!--Content Side-->

                <!--Sidebar-->
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">

                        <!-- Search Form -->
                        <div class="widget search-box">

                            <form method="post" action="index.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Buscar">
                                    <button type="submit"><span class="icon flaticon-tool-5"></span></button>
                                </div>
                            </form>

                        </div>

                        <!-- Recent Posts -->
                        <div class="widget recent-posts wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Últimas Noticias</h3></div>

                            {% for nota in ultimas_notas %}
                            <article class="post">
                                <figure class="post-thumb">
                                    {% if nota.foto %}
                                        {% thumbnail nota.foto "380x250" crop="center" as im %}
                                            <img src="{{ im.url }}">
                                        {% endthumbnail %}
                                    {% elif nota.fotos.all %}
                                        {%for thumb in nota.fotos.all|slice:"1"%}
                                        <img src="{{thumb.foto.url_380x250}}" alt="">
                                        {% endfor %}
                                    {% else %}
                                    <img src="https://via.placeholder.com/380x250">
                                    {% endif %}

                                </figure>
                                <h4><a href="{% url 'notas-detail' nota.id %}">{{nota.titulo}}</a></h4>
                                <div class="post-info"><span class="icon flaticon-people-1"></span> Por {{nota.user.get_full_name}} </div>
                            </article>
                            {% endfor %}

                        </div>

                        <!-- Archives -->
                        <div class="widget archives-list wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Pais</h3></div>

                            <ul class="list">
                                {% for pais in paises %}
                                    <li><a href="{% url 'events_list_pais' pais.id %}">{{pais}}</a></li>
                                {% endfor %}
                            </ul>

                        </div>

                        <!-- Popular Tags -->
                        <!--<div class="widget popular-tags">
                            <div class="sidebar-title"><h3>Palabras claves</h3></div>

                                <a href="#">acciones</a>
                                <a href="#">agricultura</a>
                                <a href="#">agua</a>
                                <a href="#">cambio climatico</a>
                                <a href="#">clima</a>
                                <a href="#">cultivo</a>
                                <a href="#">derechos</a>
                                <a href="#">energia</a>
                                <a href="#">familias</a>
                                <a href="#">igualdad</a>

                        </div>-->

                    </aside>


                </div>
                <!--Sidebar-->


            </div>
        </div>
    </div>
{% endblock content %}
