{% extends "base.html" %}   
{% load thumbnail %}

{% block content %}
<!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/banner/1.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1>Detalle <span class="normal-font">evento</span></h1>
                <div class="bread-crumb"><a href="/">Inicio</a> / <a href="/agendas">Eventos</a> / <a href="#" class="current">Detalle del evento</a></div>
            </div>
        </div>
    </section>
    
    
    <!--Sidebar Page-->
    <div class="sidebar-page">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Side-->	
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    
                    <!--Projects Section-->
                    <section class="events-section event-details no-padd-bottom no-padd-top padd-right-20">
                         
                        <div class="column default-featured-column style-two">
                            <article class="inner-box">
                                <figure class="image-box">
                                    {% if object.foto %}
                                        {% thumbnail object.foto "640x480" crop="center" as im %}
                                            <img src="{{ im.url }}">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img src="https://via.placeholder.com/640x480">
                                    {% endif %}
                                </figure>
                                <div class="content-box padd-top-40">
                                    <div class="row detail-header clearfix">
                                        <div class="col-md-12 col-sm-12">
                                            <h3 class="fs-28">{{object.evento}}</h3>
                                            <ul class="event-held list-inline">
                                                <li class="theme_color "><i class="black_color fa fa-calendar"></i> {{object.inicio|date:'d F Y'}}</li>
                                                <li class="theme_color "><i class="black_color fa fa-clock-o mr-5"></i> De {{object.hora_inicio|time:'g:i a'}} - {{object.hora_fin|time:'g:i a'}}</li>
                                                <li class="theme_color "> <i class="black_color fa fa-map-marker mr-5"></i>{{object.lugar}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr>
                                    
                                    <div class="text">
                                        {{object.descripcion|safe}}
                                    </div>
                                    <br>
                                    {% if object.adjunto %}
                                        {% for adjunto in object.adjunto.all %}
                                            <div class="mb-40">
                                                <h4><b>Documentos adjuntos</b></h4>
                                                <hr>
                                                {% for adjunto in object.adjunto.all %}
                                                    <a class="btn-theme btn-style-three" href="/uploads/{{adjunto.adjunto}}" target="_blank">{{adjunto.nombre_doc}} <span class="fa fa-download"></span></a>
                                                {% endfor %} 
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    
                                    
                                    
                                    <!--<div class="other-info">
                                    	<div class="row clearfix">
                                            <div class="info-column column col-md-6 col-xs-12">
                                            	<h3>Detalles del evento</h3>
                                                <ul class="info-box">
                                                    <li><span class="icon fa fa-map-marker"></span><strong>Ubicación</strong> Hotel Las Mercedes</li>
                                                    <li><span class="icon fa fa-calendar"></span><strong>Fecha</strong> 28 Agosto 2018 al 29 Agosto 2018</li>
                                                    <li><span class="icon fa fa-clock-o"></span><strong>Horario</strong> De 8:00 am - 5:30 pm</li>
                                                </ul>
                                            </div>
                                            
                                            
                                            <div class="map-column column col-md-6 col-xs-12">
                                                
                                                <div class="map-container">
                                                    
                                                    <div class="map-canvas"
                                                        data-zoom="12"
                                                        data-lat="12.145968"
                                                        data-lng="-86.171285"			  
                                                        data-type="roadmap"
                                                        data-hue="#ffc400"
                                                        data-title="Envato"
                                                        data-content="Km 11 Carretera Norte, Managua 11053, Nicaragua<br><a href='mailto:info@youremail.com'>info@youremail.com</a>"							
                                                        style="height: 300px;">
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>-->
                                    
                                </div>
                                
                            </article>
                        </div>
                        
                    </section>
                    
                </div>
                <!--Content Side-->
                
                <!--Sidebar-->	
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">
                    
                        <!-- Search Form -->
                        <div class="widget search-box">
                            
                            <form method="post" action="index.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Buscar">
                                    <button type="submit"><span class="icon flaticon-tool-5"></span></button>
                                </div>
                            </form>
                            
                        </div>
                        
                        <!-- Popular Categories -->
                        <!--<div class="widget popular-categories wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Temas</h3></div>
                            
                            <ul class="list">
                                <li><a href="#" class="pdr10">Cambio climatico</a></li>
                                    <li><a href="#" class="pdr10">Economia Solidaria</a></li>
                                    <li><a href="#" class="pdr10">Educación</a></li>
                                    <li><a href="#" class="pdr10">Medios de vida</a></li>
                                    <li><a href="#" class="pdr10">Minería</a></li>
                                    <li><a href="#" class="pdr10">Promotoria rural </a></li>

                            </ul>
                            
                        </div>-->
                        
                        
                        <!-- Recent Posts -->
                        <div class="widget recent-posts wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Últimas Noticias</h3></div>
                            
                            {% for nota in ultimas_notas %}
                            <article class="post">
                                <figure class="post-thumb">
                                    {% if nota.foto %}
                                        {% thumbnail nota.foto "380x250" crop="center" as im %}
                                            <img src="{{ im.url }}">
                                        {% endthumbnail %}
                                    {% elif nota.fotos.all %}
                                        {%for thumb in nota.fotos.all|slice:"1"%} 
                                        <img src="{{thumb.foto.url_380x250}}" alt="">
                                        {% endfor %}
                                    {% else %}
                                    <img src="https://via.placeholder.com/380x250">
                                    {% endif %}
                                    
                                </figure>
                                <h4><a href="{% url 'notas-detail' nota.id %}">{{nota.titulo}}</a></h4>
                                <div class="post-info"><span class="icon flaticon-people-1"></span> Por {{nota.user.get_full_name}} </div>
                            </article>
                            {% endfor %}
                            
                        </div>
                        
                        <!-- Archives -->
                        <div class="widget archives-list wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title"><h3>Pais</h3></div>
                            
                            <ul class="list">
                                {% for pais in paises %}
                                    <li><a href="{% url 'events_list_pais' pais.id %}">{{pais}}</a></li>
                                {% endfor %}
                            </ul>
                            
                        </div>
                        
                        <!-- Popular Tags -->
                        <!--<div class="widget popular-tags">
                            <div class="sidebar-title"><h3>Palabras claves</h3></div>
                            
                                <a href="#">acciones</a>
                                <a href="#">agricultura</a>
                                <a href="#">agua</a>
                                <a href="#">cambio climatico</a>
                                <a href="#">clima</a>
                                <a href="#">cultivo</a>
                                <a href="#">derechos</a>
                                <a href="#">energia</a>
                                <a href="#">familias</a>
                                <a href="#">igualdad</a>
                            
                        </div>-->
                                
                    </aside>
                
                    
                </div>
                <!--Sidebar-->
                
                
            </div>
        </div>
    </div>
{% endblock content %} 