{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block content %}
    <section class="main-slider revolution-slider">

        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                {% for portada in  site_config.fotosportada_set.all %}
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/uploads/{{portada.foto}}"  data-saveperformance="off"  data-title="{{portada.titulo|safe}}">
                    <img src="/uploads/{{portada.foto}}"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="overlay-black"></div>
                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="left" data-hoffset="0"
                    data-y="center" data-voffset="-50"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h1>{{portada.titulo|safe}}</h1></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="0"
                    data-y="center" data-voffset="30"
                    data-speed="1500"
                    data-start="1500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h3 class="bg-color">{{portada.descripcion|safe|truncatechars:102}}</h3></div>

                    {% comment %} <div class="tp-caption sfl sfb tp-resizeme text-center prueba"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="50"
                    data-speed="1500"
                    data-start="2000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text"></div></div> {% endcomment %}


                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </section>

    <!--Events Section-->
    <section class="welcome-section pt-50 pb-60" data-bac="#fcfcfc">
        <div class="auto-container">

            <div class="row clearfix">

                <!--Cause Column-->
                {% comment %} <div class="column default-featured-column links-column col-lg-4 col-md-5 col-sm-12 col-xs-12">
                    <article class="inner-box mb-md-60">
                        <h4 class="inner-title double-line line-left">EVENTOS</h4>
                        <div class="vertical-links-outer events-post">
                            <div class="text-uppercase p-20 mb-5" data-bac="#393d42">
                                <h2 class="white_color fw-b fs-24 mr-xs-80 mr-xxs-0">Próximas actividades <span class="theme_color"> Copartes</span></h2>
                            </div>

                            <div class="bx-event-carousel-style2">
                                {% for evento in eventos %}
                                <div class="link-block">
                                    <div class="default inner">
                                        <figure class="image-thumb">
                                            {% if evento.foto %}
                                                    {% thumbnail evento.foto "380x250" as im %}
                                                        <img src="{{ im.url }}">
                                                    {% endthumbnail %}
                                                {% else %}
                                                    <img src="https://via.placeholder.com/380x250">
                                                {% endif %}
                                        </figure>
                                        <h4 class="title">{{evento.evento}}</h4>
                                        <ul class="event-held">
                                            <li><i class="fa fa-clock-o"></i> de {{evento.hora_inicio|time:"g:i a"}} - {{evento.hora_fin|time:"g:i a"}}</li>
                                            <li> <i class="fa fa-map-marker"></i> {{evento.lugar}}</li>
                                        </ul>
                                        <ul class="event-date">
                                            <li class="event-day">{{evento.inicio|date:'d'}}</li>
                                            <li class="event-month">{{evento.inicio|date:'M'}}</li>
                                        </ul>
                                    </div>
                                    <div class="alternate">
                                        <p class="desc">{{evento.descripcion|safe|striptags|truncatechars:61}} </p>
                                        <a class="theme-btn btn-style-five btn-xs mr-10" href="{% url 'agenda-detail' evento.id %}">Leer más</a>
                                        <!--<a class="theme-btn btn-style-two btn-xs mr-10" href="#">Confirmar</a>-->
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </article>
                </div> {% endcomment %}

                <!--Featured Column-->
                <div class="column default-featured-column blog-news-column  style-three col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="inner-title double-line line-left">NOTICIAS RECIENTES</h4>
                    <div class="featured-project-two owl-carousel owl-nav-style owl-nav3">
                        {% for nota in notas %}
                        <article class="inner-box mb-xs-60">
                            <figure class="image-box">
                                <a href="{% url 'notas-detail' nota.id %}">
                                    {% if nota.foto %}
                                        {% thumbnail nota.foto "640x480" crop="center" as im %}
                                            <img src="{{ im.url }}" alt="{{nota.titulo}}">
                                        {% endthumbnail %}
                                    {% elif nota.video %}
                                        {% video nota.video '375x282' %}
                                    {% elif nota.fotos.all %}
                                        {%for thumb in nota.fotos.all|slice:"1"%}
                                        <img src="{{thumb.foto.url_640x480}}" alt="{{nota.titulo}}">
                                        {% endfor %}
                                    {% else %}
                                        <img src="https://via.placeholder.com/640x480">
                                    {% endif %}
                                </a>

                                <div class="news-date">{{nota.fecha|date:'d'}}<span class="month">{{nota.fecha|date:'M'}}</span></div>
                            </figure>
                            <div class="content-box">
                                <h3><a href="{% url 'notas-detail' nota.id %}">{{nota.titulo|lower|capfirst}}</a></h3>
                                <div class="post-info clearfix">
                                    <div class="post-author">Por <span class="theme_color">{{nota.user.get_full_name}}</span></div>
                                    <div class="post-options clearfix">
                                        <a href="#" class="comments-count"><span class="icon fa fa-calendar"></span>{{nota.fecha}}</a>

                                    </div>
                                </div>
                                <div class="text">{{nota.contenido|safe|striptags|truncatechars:160}}</div>
                                <a href="{% url 'notas-detail' nota.id %}" class="theme-btn btn-style-four btn-sm">Leer más</a>
                            </div>
                        </article>
                        {% endfor %}

                    </div>
                </div>




            </div>
        </div>
    </section>

    <!--Main Features-->
    <section class="main-features parallax-section theme-overlay overlay-deep-white" style="background-image:url(http://monitoreo-finca.cafodca.org/static/img/10.JPG);">
        <div class="auto-container">
            <div class="title-box text-center mb-0">
                <h1 class="fs-36 mb-15">SISTEMAS DE INFORMACIÓN</h1>
                <div class="text">El Programa Medios de Vida Sostenible con enfoque en la gestión de riesgo y el cambio climático de CAFOD, implementa el sistema de monitoreo de finca que tiene como fin identificar la mejoría del bienestar de vida de familias campesinas atendidas por el programa a través de co-partes en territorio.</div>
                <div class="">
                    <a class="theme-btn btn-style-four" href="http://monitoreo-finca.cafodca.org/">Ver mapa finca</a>
                    <a class="theme-btn btn-style-five" href="http://proyecto-joa.cafodca.org/">Ver  projecto joa</a>
                </div>
            </div>
        </div>
    </section>

    <!--Gallery Section-->
    <section class="gallery-section gutterless pb-0">
        <div class="container">
            <div class="row">
                <div class="sec-title text-center">
                    <h2>GALERÍA DE  <span class="normal-font theme_color">IMÁGENES</span></h2>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <!--Filter List-->
            <div class="row filter-list clearfix">

                {% for img in imagenes %}
                <!--Column-->
                <div class="column mix mix_all eco plants col-md-3 col-sm-6 col-xs-12">
                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item">
                        <div class="inner-box text-center">
                            <!--Image Box-->
                            <figure class="image-box">
                                <img src="{{img.foto.url_380x250}}" alt="">
                            </figure>
                            <div class="overlay-box">
                                <div class="inner-content">
                                    <div class="content">
                                        <a class="arrow lightbox-image" href="{{img.foto.url_640x480}}" title="{{img.nombre_img}}"><span class="icon flaticon-cross-4"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </section>

    <!--Team Section-->
    <section class="team-section team-index pb-20">
        <div class="auto-container">
            <div class="sec-title clearfix">
                <div class="pull-left">
                    <h2>NUESTRAS <span class="normal-font theme_color">COPARTES</span></h2>

                </div>
                <div class="pull-right padd-top-30">
                    <a class="theme-btn btn-style-three" href="/contrapartes/">Todas las copartes</a>
                </div>
            </div>

            <div class="testimonials-carousel row">
                {% for empresa in  contrapartes %}
                    <!--Column-->
                    <article class="column team-member " data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image">
                                 {% if empresa.logo %}
                                        {% thumbnail empresa.logo "270x270" as im %}
                                         <a href="{% url 'detalle-contraparte' empresa.id %}"><img src="{{ im.url }}" alt="{{empresa.siglas}}"></a>
                                        {% endthumbnail %}
                                {% else %}
                                        <a href="{% url 'detalle-contraparte' empresa.id %}"><img src="https://via.placeholder.com/350x350" alt="{{empresa.siglas}}"></a>
                                {% endif %}
                            </figure>
                            <div class="member-info">
                                <h3><a href="{% url 'detalle-contraparte' empresa.id %}">{{empresa.siglas}}</a><h3>
                                <div class="designation"><img src="/static/images/{{empresa.pais.codigo}}-g.png" alt="" > <span>{{empresa.pais}}</span></div>
                            </div>
                            <div class="content">
                                <div class="text cont_org"><p>{{empresa.generalidades|safe|striptags|truncatewords:20}}<p></div>
                                <div class="social-links">
                                    {% for red in empresa.redes_set.all %}
                                        <a href="{{red.url}}"><span class="fa fa-{{red.opcion|lower}}"></span></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}

            </div>

        </div>
    </section>
{% endblock content %}
{% block extra_fancy %}
    <script src="/static/js/jquery.fancybox.pack.js"></script>
    <script src="/static/js/jquery.fancybox-media.js"></script>
{% endblock extra_fancy %}
