<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>CharityClub Nonprofit HTML5 Template | Homepage Style One</title>
<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/revolution-slider.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/bootstrap-margin-padding.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="css/newstyle.css" rel="stylesheet">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Header Style Two-->
    <header class="header-style-two">
        <div class="header-top">
            <div class="auto-container clearfix">
                 
                 <!--Info Outer-->
                 <div class="info-outer">
                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon"><span class="fa fa-user"></span></div>
                        <strong>NombreUsuario</strong>
                    </div>
                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon"><span class="fa fa-bar-chart"></span></div>
                        <strong>Estadisticas</strong>
                    </div>
                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon"><span class="fa fa-power-off"></span></div>
                        <strong>Salir</strong>
                    </div>

                    <!--Info Box-->
                    <div class="info-box social-box">
                        <div class="social-links clearfix">
                            <a href="#" class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
                            <a href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                            <a href="#" class="google-plus img-circle"><span class="fa fa-google-plus"></span></a>
                            
                        </div>
                    </div>
                 </div>
                
            </div>
        </div><!-- Header Top End -->
        
        <!-- Lower Part -->
        <div class="lower-part">
            <div class="auto-container clearfix">
                
                <!--Outer Box-->
                <div class="outer-box clearfix">
                
                    <!--Btn Box-->
                    <div class="btn-box">
                        <a href="#" class="theme-btn donate-btn" data-toggle="modal" data-target="#donate-popup"><img class="logocafod" src="images/logo2.png" alt="Greenture"></a>
                    </div>
                    
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation">
                            
                                <li><a href="#">Inicio</a></li>
                                <li><a href="about.html">Noticias</a></li>
                                <li><a href="#">Acerca de</a></li>
                                <li><a href="#">Contrapartes</a></li>
                                <li><a href="#">Eventos</a></li>
                                <li class="dropdown"><a href="#">Galeria</a>
                                    <ul>
                                        <li><a href="gallery-masonry.html">Imágenes</a></li>
                                        <li><a href="gallery-three-column.html">Videos</a></li>
                                    </ul>
                                </li>
                                
                            
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                    
                </div>
            </div>
        </div><!-- Lower Part End-->
        
    </header><!--End Header Style Two-->
    
    <!--Main Slider-->
    <style type="text/css">
        .prueba{
            background: rgba(0, 0, 0, 0.5) !important;
            max-width: 70% !important;
            white-space: inherit !important;
        }
    </style>
    <section class="main-slider revolution-slider">
        
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/1.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="images/1.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-20"
                    data-speed="1500"
                    data-start="1500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h3 class="bg-color">Programa Medios de Vida Sostenible y Gestión de Riesgo</h3></div>
                    
                    <div class="tp-caption sfl sfb tp-resizeme text-center prueba"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="50"
                    data-speed="1500"
                    data-start="2000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text">Fortaleciendo la alianza entre las organizaciones socias del programa "Medios de vida sostenible" de CAFOD en Centroamérica, para mejorar el aprendizaje e impacto de los proyectos</div></div>
                    
                    </li>
                    
                   <!--  <li data-transition="slidedown" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/2.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="images/main-slider/2.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-120"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2 class="normal-font"><span>Help us</span> <strong class="theme_color">to save</strong></h2></div>
                    
                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-30"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2>the <span class="theme_color">Homeless</span> People</h2></div>
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="50"
                    data-speed="1500"
                    data-start="1500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h4>All of our afford can bring back the life</h4></div>
                    
                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="120"
                    data-speed="1500"
                    data-start="2000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-five mr-10">Join With Us</a><a href="#" class="theme-btn btn-style-two">Donate Now</a></div>
                    
                    </li> -->

                </ul>
                
            </div>
        </div>
    </section>
    
    <!--Events Section-->
    <section class="welcome-section pt-50 pb-60" data-bac="#fcfcfc">
        <div class="auto-container">

            <div class="row clearfix">
                
                <!--Cause Column-->
                <div class="column default-featured-column links-column col-lg-4 col-md-12">
                    <article class="inner-box mb-md-60">
                        <h4 class="inner-title double-line line-left">PRÓXIMOS EVENTOS</h4>
                        <div class="vertical-links-outer events-post">
                            <div class="text-uppercase p-20 mb-5" data-bac="#393d42">
                                <h2 class="white_color fw-b fs-24 mr-xs-80 mr-xxs-0">Nuestros siguientes<span class="theme_color"> eventos</span></h2>
                            </div>

                            <div class="bx-event-carousel-style2">
                                <div class="link-block">
                                    <div class="default inner">
                                        <figure class="image-thumb"><img src="http://cafodca.org/uploads/fotos/30742507_1938604222816660_8820942908413706240_o.380x250.jpg" alt=""></figure>
                                        <h4 class="title">Visita a la comunidad Chupoj II, y III</h4>
                                        <ul class="event-held">
                                            <li><i class="fa fa-clock-o"></i> de 8:00 am - 5:00 pm</li>
                                            <li> <i class="fa fa-map-marker"></i> Hotel Las Mercedes</li>
                                        </ul>
                                        <ul class="event-date">
                                            <li class="event-day">28</li>
                                            <li class="event-month">Aug</li>
                                        </ul>
                                    </div>
                                    <div class="alternate">
                                        <p class="desc">Visita a grupos comunitarios de promotores/as agroecologicos. </p>
                                        <a class="theme-btn btn-style-five btn-xs mr-10" href="#">Leer más</a>
                                        <a class="theme-btn btn-style-two btn-xs mr-10" href="#">Confirmar</a>
                                    </div>
                                </div>

                                <div class="link-block">
                                    <div class="default inner">
                                        <figure class="image-thumb"><img src="http://cafodca.org/uploads/fotos/30714368_1938608746149541_234841377156890624_n.380x250.jpg" alt=""></figure>
                                        <h4 class="title">Intercambio de experiencia Apicola</h4>
                                        <ul class="event-held">
                                            <li><i class="fa fa-clock-o"></i> de 8:00 am - 5:00 pm</li>
                                            <li> <i class="fa fa-map-marker"></i> Hotel Las Mercedes</li>
                                        </ul>
                                        <ul class="event-date">
                                            <li class="event-day">28</li>
                                            <li class="event-month">Aug</li>
                                        </ul>
                                    </div>
                                    <div class="alternate">
                                        <p class="desc">En coordinacion con Swisscontact se desarrollara un intercambio de experiencia. </p>
                                        <a class="theme-btn btn-style-five btn-xs mr-10" href="#">Leer más</a>
                                        <a class="theme-btn btn-style-two btn-xs mr-10" href="#">Confirmar</a>
                                    </div>
                                </div>

                                <div class="link-block">
                                    <div class="default inner">
                                        <figure class="image-thumb"><img src="http://cafodca.org/uploads/fotos/30742507_1938604222816660_8820942908413706240_o.380x250.jpg" alt=""></figure>
                                        <h4 class="title">Taller sobre energia renovables</h4>
                                        <ul class="event-held">
                                            <li><i class="fa fa-clock-o"></i> de 8:00 am - 5:00 pm</li>
                                            <li> <i class="fa fa-map-marker"></i> Hotel Las Mercedes</li>
                                        </ul>
                                        <ul class="event-date">
                                            <li class="event-day">28</li>
                                            <li class="event-month">Aug</li>
                                        </ul>
                                    </div>
                                    <div class="alternate">
                                        <p class="desc">Contribuir a la adaptación del cambio climático a través de la promoción </p>
                                        <a class="theme-btn btn-style-five btn-xs mr-10" href="#">Leer más</a>
                                        <a class="theme-btn btn-style-two btn-xs mr-10" href="#">Confirmar</a>
                                    </div>
                                </div>

                                <div class="link-block">
                                    <div class="default inner">
                                        <figure class="image-thumb"><img src="http://cafodca.org/uploads/fotos/30704036_1938606736149742_452393324809027584_o.380x250.jpg" alt=""></figure>
                                        <h4 class="title">Reunión CAFOD en El Progreso</h4>
                                        <ul class="event-held">
                                            <li><i class="fa fa-clock-o"></i> de 8:00 am - 5:00 pm</li>
                                            <li> <i class="fa fa-map-marker"></i> Hotel Las Mercedes</li>
                                        </ul>
                                        <ul class="event-date">
                                            <li class="event-day">28</li>
                                            <li class="event-month">Aug</li>
                                        </ul>
                                    </div>
                                    <div class="alternate">
                                        <p class="desc">Winston Berrios junto al equipo técnico del Equipo de Reflexión </p>
                                        <a class="theme-btn btn-style-five btn-xs mr-10" href="#">Leer más</a>
                                        <a class="theme-btn btn-style-two btn-xs mr-10" href="#">Confirmar</a>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </article>
                </div>
                
                <!--Featured Column-->
                <div class="column default-featured-column blog-news-column  style-three col-lg-8 col-md-6 col-sm-6 col-xs-12">
                    <h4 class="inner-title double-line line-left">NOTICIAS RECIENTES</h4>
                    <div class="featured-project owl-carousel owl-nav-style owl-nav3">
                        <article class="inner-box mb-xs-60">
                            <figure class="image-box">
                                <a href="#"><img src="http://cafodca.org/uploads/fotos/30707245_1938608242816258_7960736666413432832_o.380x250.jpg" alt=""></a>
                               
                                <div class="news-date">22<span class="month">AGO</span></div>
                            </figure>
                            <div class="content-box">
                                <h3><a href="#">Oficial de Proyectos visita fincas agro ecológicas en Honduras</a></h3>
                                <div class="post-info clearfix">
                                    <div class="post-author">Por <span class="theme_color">Pablo Garcia</span></div>
                                    <div class="post-options clearfix">
                                        <a href="#" class="comments-count"><span class="icon fa fa-eye"></span> 6</a>
                                        
                                    </div>
                                </div>
                                <div class="text">El oficial de Proyectos de la agencia de cooperación Cafod, en Nicaragua, Winston... </div>
                                <a href="#" class="theme-btn btn-style-four btn-sm">Leer más</a>
                            </div>
                        </article>
                        <article class="inner-box mb-xs-60">
                            <figure class="image-box">
                                <a href="#"><img src="http://cafodca.org/uploads/fotos/descarga.380x250.jpg" alt=""></a>
                               
                                <div class="news-date">22<span class="month">AGO</span></div>
                            </figure>
                            <div class="content-box">
                                <h3><a href="#">Encuentro Regional del Programa Medios de Vida Sostenible</a></h3>
                                <div class="post-info clearfix">
                                    <div class="post-author">Por <span class="theme_color">Pablo Garcia</span></div>
                                    <div class="post-options clearfix">
                                        <a href="#" class="comments-count"><span class="icon fa fa-eye"></span> 6</a>
                                        
                                    </div>
                                </div>
                                <div class="text">Los días 10 y 11 de abril, se llevó a cabo en Siguatepeque, Honduras el Encuentro Regional... </div>
                                <a href="#" class="theme-btn btn-style-four btn-sm">Leer más</a>
                            </div>
                        </article>
                    </div>
                </div>
                

                
                
            </div>
        </div>
    </section>

    <!--Recent Causes Section
    <section class="recent-projects">
        <div class="auto-container">
            
            <div class="sec-title clearfix">
                <div class="pull-left">
                    <h2>Recent <span class="normal-font theme_color">Causes</span></h2>
                    <div class="text">Lorem ipsum dolor sit amet, cum at inani interesset, nisl fugit munere ad mel,vix an omnium dolor amet </div>
                </div>
                <div class="pull-right padd-top-30">
                    <a href="#" class="theme-btn btn-style-three">See All Projects</a>
                </div>
            </div>
            <div class="row clearfix">
                
    
                <div class="column default-featured-column style-two col-md-4 col-sm-4 col-xs-12">
                    <article class="inner-box wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <a href="#"><img src="http://cafodca.org/uploads/fotos/IMG_20180509_091635.640x480.jpg" alt=""></a>
                            <div class="donate-piechart">
                              <div class="piechart-block">
                                <div class="piechart style-one"  data-fg-color="rgba(250,119,68,1)" data-value=".75">
                                  <span>.75</span>
                                </div>
                              </div>
                            </div>
                        </figure>
                        <div class="content-box">
                            <h3><a href="#">Charity For Education</a></h3>
                            <div class="column-info"><span class="raised-amount">Raised: $1890</span> Goal: $2500</div>
                            <div class="text">Lorem ipsum dolor sit amet et siu amet amet audiam copiosaei mei.</div>
                            <a href="#" class="theme-btn btn-style-four btn-sm mr-10">Donate Now</a>
                            <a href="#" class="theme-btn btn-style-two btn-sm">Leer más</a>
                        </div>
                    </article>
                </div>
                
               
                <div class="column default-featured-column style-two col-md-4 col-sm-4 col-xs-12">
                    <article class="inner-box wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <a href="#"><img src="images/causes/2.jpg" alt=""></a>
                            <div class="donate-piechart">
                              <div class="piechart-block">
                                <div class="piechart style-one"  data-fg-color="rgba(250,119,68,1)" data-value=".65">
                                  <span>.65</span>
                                </div>
                              </div>
                            </div>
                        </figure>
                        <div class="content-box">
                            <h3><a href="#">Charity For Education</a></h3>
                            <div class="column-info"><span class="raised-amount">Raised: $1890</span> Goal: $2500</div>
                            <div class="text">Lorem ipsum dolor sit amet et siu amet amet audiam copiosaei mei.</div>
                            <a href="#" class="theme-btn btn-style-four btn-sm mr-10">Donate Now</a>
                            <a href="#" class="theme-btn btn-style-two btn-sm">Leer más</a>
                        </div>
                    </article>
                </div>
                

                <div class="column default-featured-column style-two col-md-4 col-sm-4 col-xs-12">
                    <article class="inner-box wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <a href="#"><img src="images/causes/3.jpg" alt=""></a>
                            <div class="donate-piechart">
                              <div class="piechart-block">
                                <div class="piechart style-one"  data-fg-color="rgba(250,119,68,1)" data-value=".85">
                                  <span>.85</span>
                                </div>
                              </div>
                            </div>
                        </figure>
                        <div class="content-box">
                            <h3><a href="#">Charity For Education</a></h3>
                            <div class="column-info"><span class="raised-amount">Raised: $1890</span> Goal: $2500</div>
                            <div class="text">Lorem ipsum dolor sit amet et siu amet amet audiam copiosaei mei.</div>
                            <a href="#" class="theme-btn btn-style-four btn-sm mr-10">Donate Now</a>
                            <a href="#" class="theme-btn btn-style-two btn-sm">Leer más</a>
                        </div>
                    </article>
                </div>
                
            </div>
        </div>
    </section>-->
    
    <!--Main Features-->
    <section class="main-features parallax-section theme-overlay overlay-deep-white" style="background-image:url(http://monitoreo-finca.cafodca.org/static/img/10.JPG);">
        <div class="auto-container">
            <div class="title-box text-center mb-0">
                <h1 class="fs-36 mb-15">SISTEMA DE MONITOREO DE FINCA</h1>
                <div class="text">El Programa Medios de Vida Sostenible con enfoque en la gestión de riesgo y el cambio climático de CAFOD, implementa el sistema de monitoreo de finca que tiene como fin identificar la mejoría del bienestar de vida de familias campesinas atendidas por el programa a través de co-partes en territorio.</div>
                <div class="">
                    <a class="theme-btn btn-style-four" href="#">Ver monitoreo</a>
                </div>
            </div>
        </div>
    </section>

    <!--Gallery Section-->
    <section class="gallery-section gutterless pb-0">
        <div class="container">
            <div class="row">            
                <div class="sec-title text-center">
                    <h2>Nuestra <span class="normal-font theme_color">Galería</span></h2>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            
            <!--Filter List-->
            <div class="row filter-list clearfix">
                
                <!--Column-->
                <div class="column mix mix_all eco plants col-md-3 col-sm-6 col-xs-12">
                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item">
                        <div class="inner-box text-center">
                            <!--Image Box-->
                            <figure class="image-box"><img src="http://www.simas.org.ni/media/cache/59/b6/59b684076a1b4198cd17594783af03cb.jpg" alt=""></figure>
                            <div class="overlay-box">
                                <div class="inner-content">
                                    <div class="content">
                                        <a class="arrow lightbox-image" href="images/gallery/s1.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column mix mix_all environment  energy animals col-md-3 col-sm-6 col-xs-12">
                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item">
                        <div class="inner-box text-center">
                            <!--Image Box-->
                            <figure class="image-box"><img src="http://www.simas.org.ni/media/cache/47/46/474645d7cf021b0ebf5c75da7d25ad8d.jpg" alt=""></figure>
                            <div class="overlay-box">
                                <div class="inner-content">
                                    <div class="content">
                                        <a class="arrow lightbox-image" href="images/gallery/s2.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column mix mix_all environment eco animals col-md-3 col-sm-6 col-xs-12">
                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item">
                        <div class="inner-box text-center">
                            <!--Image Box-->
                            <figure class="image-box"><img src="http://www.simas.org.ni/media/cache/18/07/18077b4cfbd1619013ce4504cf209a36.jpg" alt=""></figure>
                            <div class="overlay-box">
                                <div class="inner-content">
                                    <div class="content">
                                        <a class="arrow lightbox-image" href="images/gallery/s3.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column mix mix_all environment eco energy animals plants col-md-3 col-sm-6 col-xs-12">
                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item">
                        <div class="inner-box text-center">
                            <!--Image Box-->
                            <figure class="image-box"><img src="http://www.simas.org.ni/media/cache/7b/4c/7b4c07c3b298292c4dab9ca96eda2fd2.jpg" alt=""></figure>
                            <div class="overlay-box">
                                <div class="inner-content">
                                    <div class="content">
                                        <a class="arrow lightbox-image" href="images/gallery/s4.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column mix mix_all energy animals plants col-md-3 col-sm-6 col-xs-12">
                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item">
                        <div class="inner-box text-center">
                            <!--Image Box-->
                            <figure class="image-box"><img src="http://www.simas.org.ni/media/cache/75/27/7527ddab60861457cc69e4fae936e2d8.jpg" alt=""></figure>
                            <div class="overlay-box">
                                <div class="inner-content">
                                    <div class="content">
                                        <a class="arrow lightbox-image" href="images/gallery/s5.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column mix mix_all environment eco energy animals plants col-md-3 col-sm-6 col-xs-12">
                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item">
                        <div class="inner-box text-center">
                            <!--Image Box-->
                            <figure class="image-box"><img src="http://www.simas.org.ni/media/cache/49/91/4991dbce121d06f82ed040176b3e9ac2.jpg" alt=""></figure>
                            <div class="overlay-box">
                                <div class="inner-content">
                                    <div class="content">
                                        <a class="arrow lightbox-image" href="images/gallery/s6.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column mix mix_all environment  energy animals col-md-3 col-sm-6 col-xs-12">
                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item">
                        <div class="inner-box text-center">
                            <!--Image Box-->
                            <figure class="image-box"><img src="http://www.simas.org.ni/media/cache/10/3d/103d5ef01c53a3819d10a0ec9aecd1ab.jpg" alt=""></figure>
                            <div class="overlay-box">
                                <div class="inner-content">
                                    <div class="content">
                                        <a class="arrow lightbox-image" href="images/gallery/s7.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column mix mix_all environment eco animals col-md-3 col-sm-6 col-xs-12">
                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item">
                        <div class="inner-box text-center">
                            <!--Image Box-->
                            <figure class="image-box"><img src="http://www.simas.org.ni/media/cache/50/f6/50f634f3f19a2a3af0a05e2ea31b2cdc.jpg" alt=""></figure>
                            <div class="overlay-box">
                                <div class="inner-content">
                                    <div class="content">
                                        <a class="arrow lightbox-image" href="images/gallery/s8.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>

    <!--Intro Section
    <section class="subscribe-intro">
        <div class="auto-container">
            <div class="row clearfix">
                
                <div class="column col-md-9 col-sm-12 col-xs-12">
                    <h2>Subcribe for Newsletter</h2>
                    There are many variations of passages of Lorem Ipsum available but the majority have 
                </div>
               
                <div class="column col-md-3 col-sm-12 col-xs-12">
                    <div class="text-right padd-top-20">
                        <a href="#" class="theme-btn btn-style-one">Subscribe Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    
    <!--Team Section-->
    <section class="team-section">
        <div class="auto-container">
            <div class="sec-title clearfix">
                <div class="pull-left">
                    <h2>Nuestros <span class="normal-font theme_color">Miembros</span></h2>
                   
                </div>
                <div class="pull-right padd-top-30">
                    <a class="theme-btn btn-style-three" href="#">Todos los miembros</a>
                </div>
            </div>
            
            <div class="row clearfix">
                
                <!--Column-->
                <article class="column team-member col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image"><a href="mailto:mail@email.com"><img src="images/resource/team-image-1.jpg" alt=""></a></figure>
                        <div class="member-info">
                            <h3>Red COMAL</h3>
                            <div class="designation"><img src="https://cdn.icon-icons.com/icons2/40/PNG/128/flagofHonduras_6508.png" alt="" width="25px"> Honduras</div>
                        </div>
                        <div class="content">
                            <div class="text"><p>La Red de Comercialización Comunitaria Alternativa, Red COMAL, se conforma por Organizaciones...<p></div>
                            <div class="social-links">
                                <a href="#"><span class="fa fa-facebook-f"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                <a href="#"><span class="fa fa-linkedin"></span></a>
                            </div>
                        </div>
                    </div>
                </article>
                
                <!--Column-->
                <article class="column team-member col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image"><a href="mailto:mail@email.com"><img src="images/resource/team-image-2.jpg" alt=""></a></figure>
                        <div class="member-info">
                            <h3>ERIC-SJ & RP</h3>
                            <div class="designation"><img src="https://cdn.icon-icons.com/icons2/40/PNG/128/flagofHonduras_6508.png" alt="" width="25px"> Honduras</div>
                        </div>
                        <div class="content">
                            <div class="text"><p>El ERIC, es una obra social de la compañia de Jesús en Honduras, nace en el año de 1980...</p></div>
                            <div class="social-links">
                                <a href="#"><span class="fa fa-facebook-f"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                <a href="#"><span class="fa fa-linkedin"></span></a>
                            </div>
                        </div>
                    </div>
                </article>
                
                <!--Column-->
                <article class="column team-member col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image"><a href="mailto:mail@email.com"><img src="images/resource/team-image-3.jpg" alt=""></a></figure>
                        <div class="member-info">
                            <h3>CEHPRODEC</h3>
                            <div class="designation"><img src="https://cdn.icon-icons.com/icons2/40/PNG/128/flagofHonduras_6508.png" alt="" width="25px"> Honduras</div>
                        </div>
                        <div class="content">
                            <div class="text"><p>Organización sin fines de lucro fundada para fortalecer la soberanía alimentaria...</p></div>
                            <div class="social-links">
                                <a href="#"><span class="fa fa-facebook-f"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                <a href="#"><span class="fa fa-linkedin"></span></a>
                            </div>
                        </div>
                    </div>
                </article>
                
                <!--Column-->
                <article class="column team-member col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image"><a href="mailto:mail@email.com"><img src="images/resource/team-image-4.jpg" alt=""></a></figure>
                        <div class="member-info">
                            <h3>ASOMUPRO</h3>
                            <div class="designation"><img src="https://cdn.icon-icons.com/icons2/40/PNG/128/NicaraguaFlag_6444.png" alt="" width="25px"> Nicaragua</div>
                        </div>
                        <div class="content">
                            <div class="text"><p>Somos un movimiento gremial, nacional, autónomo, de pequeñas y medianas productoras agroecológicas...</p></div>
                            <div class="social-links">
                                <a href="#"><span class="fa fa-facebook-f"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                <a href="#"><span class="fa fa-linkedin"></span></a>
                            </div>
                        </div>
                    </div>
                </article>
                
            </div>
            
        </div>
    </section>
    




    <!--Main Footer-->
    <footer class="main-footer" style="background-image:url(images/2.jpg);">
    	
        <!--Footer Upper-->        
        <div class="footer-upper">
            <div class="auto-container">
                <div class="row clearfix">

                    <div class="col-lg-3 col-sm-6 col-xs-12 column mb-xs-50">
                        <div class="footer-widget about-widget">
                            <div class="logo"><a href="index.html"><img src="images/logowhite.png" class="img-responsive" alt=""></a></div>
                            <br>
                            <!-- <div class="text">
                                <h4>Programa Medios de Vida Sostenible</h4>
                                <p>CAFOD is the official Catholic Aid Agency for England and Wales</p>
                            </div> -->
                            
                            <ul class="contact-info">
                            	<li><span class="icon fa fa-map-marker"></span> Direccion</li>
                                <li><span class="icon fa fa-phone"></span> (505) 2277-5975</li>
                                <li><span class="icon fa fa-envelope-o"></span> Correo@gmail.com</li>
                            </ul>
                            
                            <div class="social-links-two clearfix">
                            	<a href="#" class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
                                <a href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                                <a href="#" class="google-plus img-circle"><span class="fa fa-google-plus"></span></a>
                                <a href="#" class="linkedin img-circle"><span class="fa fa-pinterest-p"></span></a>
                                <a href="#" class="linkedin img-circle"><span class="fa fa-linkedin"></span></a>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="col-lg-2 col-sm-6 col-xs-12 column">
                        <h2>Enlaces de interés</h2>
                        <div class="footer-widget links-widget">
                            <ul>
                                <li><a href="#">Inicio</a></li>
                                <li><a href="#">Noticias</a></li>
                                <li><a href="#">Acerca de</a></li>
                                <li><a href="#">Contrapartes</a></li>
                                <li><a href="#">Eventos</a></li>
                            </ul>

                        </div>
                    </div>

            		<!--Footer Column-->
                	<div class="col-lg-3 col-sm-6 col-xs-12 column">
                    	<div class="footer-widget news-widget">
                        	<h2>Últimas Noticias</h2>	
                            
                            <!--News Post-->
                            <div class="news-post">
                            	<div class="icon"></div>
                                <div class="news-content"><figure class="image-thumb"><img src="http://cafodca.org/uploads/fotos/30707245_1938608242816258_7960736666413432832_o.380x250.jpg" alt=""></figure><a href="#">Oficial de Proyectos visita fincas agro ecológicas en Honduras</a></div>
                                <div class="time"> 2 Agosto 2018</div>
                            </div>
                            
                            <!--News Post-->
                            <div class="news-post">
                                <div class="icon"></div>
                                <div class="news-content"><figure class="image-thumb"><img src="http://cafodca.org/uploads/fotos/descarga.380x250.jpg" alt=""></figure><a href="#">Encuentro Regional del Programa Medios de Vida Sostenible</a></div>
                                <div class="time">2 Agosto 2018</div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="col-lg-4 col-sm-6 col-xs-12 column">
                        <div class="footer-widget contact-widget">
                        	<h2>Contáctanos</h2>
                            <form action="inc/sendemail.php" class="contact-form" id="footer-cf">
                                <input type="text" name="Nombre"  placeholder="Nombre Completo">
                                <input type="text" name="Correo" placeholder="Correo" >
                                <textarea name="message" placeholder="Mensaje"></textarea>
                                <button type="submit">Enviar</button>
                            </form>

                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        
        <!--Footer Bottom-->
    	<div class="footer-bottom">
            <div class="auto-container clearfix">
                <!--Copyright-->
                <div class="copyright text-center">Copyright 2018 &copy; Plataforma desarrollada por <a href="#">SIMAS</a></div>
            </div>
        </div>
        
    </footer>
    
</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".page-wrapper"><span class="fa fa-long-arrow-up"></span></div>


<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/owl.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/wow.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>

<script src="js/script.js"></script>
</body>
</html>