<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>CharityClub Nonprofit HTML5 Template | Events List View</title>
<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="css/style.css" rel="stylesheet">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/bootstrap-margin-padding.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet"`>
<link href="css/newstyle.css" rel="stylesheet">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
    
 	
    <!-- Main Header -->
    <header class="header-style-two">
        <!-- Header Top -->
        <div class="header-top">
            <div class="auto-container clearfix">
                 
                 <!--Info Outer-->
                 <div class="info-outer">
                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon"><span class="fa fa-user"></span></div>
                        <strong>NombreUsuario</strong>
                    </div>
                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon"><span class="fa fa-bar-chart"></span></div>
                        <strong>Estadisticas</strong>
                    </div>
                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon"><span class="fa fa-power-off"></span></div>
                        <strong>Salir</strong>
                    </div>

                    <!--Info Box-->
                    <div class="info-box social-box">
                        <div class="social-links clearfix">
                            <a href="#" class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
                            <a href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                            <a href="#" class="google-plus img-circle"><span class="fa fa-google-plus"></span></a>
                            
                        </div>
                    </div>
                 </div>
                
            </div>
        </div><!-- Header Top End -->

    </header><!--End Main Header -->
    <div class="container-fluid">
        <div class="row">
            <div class="btn-group btn-group-justified menu-admin">
                <div class="btn-group ">
                    <button type="button" class="btn btn-nav">
                        <span class="fa fa-user"></span>
                        <p>Perfil</p>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-nav">
                        <span class="fa fa-file-text-o"></span>
                        <p>Notas</p>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-nav">
                        <span class="fa fa-calendar"></span>
                        <p>
                        Eventos</p>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-nav">
                        <span class="fa fa-comments"></span>
                        <p>Foro</p>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-nav">
                        <span class="fa fa-folder"></span>
                        <p>Documentos</p>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-nav">
                        <span class="fa fa-film"></span>
                        <p>Multimedia</p>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-nav">
                        <span class="fa fa-envelope"></span>
                        <p>Mensajes</p>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-nav">
                        <span class="fa fa-globe"></span>
                        <p>Web</p>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div data-bac="#fcfcfc">
        <section class="welcome-section pt-20 pb-20">
        	<div class="auto-container">
                <div class="row clearfix perfil">
                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 detalle-perfil ">
                        <h3 class="theme_color"><b>Servicio de Información Mesoamericano sobre Agricultura Sostenible </b></h3>
                        <h3 class="theme_color_two"><b>SIMAS</b></h3>
                        <ul class="list-inline">
                            <li class="pais">
                                <!-- <img src="https://icon-icons.com/icons2/40/PNG/48/NicaraguaFlag_6444.png" alt="" width="20px"> -->
                                <span class="fa fa-map-marker icon"></span><span class="icon_text">Nicaragua</span>
                            </li>
                            <li class="fundacion">
                                <span class="fa fa-calendar icon"></span><span class="icon_text">Fundación 1990</span>
                            </li>
                            
                        </ul>
                        <div class="row clearfix">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h5 class="inner-title double-line line-left">Contacto</h5>
                                <ul class="list-inline">
                                    <li><span class="fa fa-envelope theme_color"></span> <a href="">simas@simas.com</a></li>
                                    <li><span class="fa fa-phone theme_color"> </span> <a href="">(+505) 22682302</a></li>
                                    <li><span class="fa fa-globe theme_color"></span> <a href="">www.simas.com.ni</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h5 class="inner-title double-line line-left">Redes</h5>
                                <div class="info-box social-box">
                                    <div class="social-links clearfix">
                                        <a href="#" class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
                                        <a href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                                        <a href="#" class="google-plus img-circle"><span class="fa fa-google-plus"></span></a>
                                        <a href="#" class="linkedin img-circle"><span class="fa fa-linkedin"></span></a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        

                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 logo-perfil">
                        <img src="https://objects-us-west-1.dream.io/monchitonet/wp-content/uploads/2014/01/simas.png" alt="" width="180px" class="pt-10 pb-10">
                        <div class="">
                            <a class="theme-btn btn-style-two ml-40" href="#">Editar</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="welcome-section pb-20" >
            <div class="auto-container" data-bac="#fff">

                <div class="row clearfix">
                    <div class="col-lg-12 org-contenido">
                        <div class="content-box">
                            <h4 class="inner-title double-line line-left">ACERCA DE</h4>
                            <p class="text">
                                Es una asociación civil sin fines de lucro comprometida en la construcción de formas de vida 
                                democrática y sostenible para el mundo rural. Su legalización se realizó mediante el Decreto 
                                No 3533 sesión Asamblea Nacional mayo 14 2003. 
                            </p>
                            <br>
                            <h4 class="inner-title double-line line-left">NUESTRA MISIÓN</h4>
                            <p class="text">
                                Fortalecemos en conjunto con otros actores en articulación mesoamericana los procesos de innovación y comunicación para el desarrollo de capacidades de aprendizaje de las familias campesinas en Agricultura Sostenible, que permite el desarrollo humano rural integral con equidad de género y generacional.
                            </p>
                            <br>
                            <h4 class="inner-title double-line line-left">NUESTRA VISIÓN DE DESARROLLO</h4>
                            <p class="text">
                                Familias campesinas con capacidades de aprendizaje para afrontar retos ambientales y su inclusión a mercados e innovar junto con actores sociales una propuesta estructurada de desarrollo sostenible.
                            </p>
                            
                            
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="welcome-section pb-60">
            <div class="auto-container" data-bac="#fff">

                <div class="row clearfix">
                    <div class="col-lg-12 org-contenido">
                        <div class="content-box">
                            <h4 class="inner-title double-line line-left">Estadisticas</h4>
                            <div class="fact-counter">         
                                <div class="row clearfix">
                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><span class="fa fa-file-text-o"></span></div>
                                            <h4 class="counter-title">Noticias Publicadas</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="1000" data-stop="53">0</span></div>
                                         </div>
                                    </article>
                                    
                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><span class="fa fa-calendar"></span></div>
                                            <h4 class="counter-title">Eventos Publicados</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="25">0</span></div>
                                        </div>
                                    </article>
                                    
                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><span class="fa fa-film"></span></div>
                                            <h4 class="counter-title">Contenido Multimedia</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="2500" data-stop="47">0</span></div>
                                        </div>
                                    </article>

                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><span class="fa fa-users"></span></div>
                                            <h4 class="counter-title">Participación Foros</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="2500" data-stop="39">0</span></div>
                                        </div>
                                    </article>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
    </div>

  
    <!--Main Footer-->
    <footer class="main-footer" style="background-image:url(images/background/footer-bg.jpg);">
        
        <!--Footer Upper-->        
        <div class="footer-upper">
            <div class="auto-container">
                <div class="row clearfix">

                    <div class="col-lg-3 col-sm-6 col-xs-12 column mb-xs-50">
                        <div class="footer-widget about-widget">
                            <div class="logo"><a href="index.html"><img src="images/logowhite.png" class="img-responsive" alt=""></a></div>
                            <br>
                            <!-- <div class="text">
                                <h4>Programa Medios de Vida Sostenible</h4>
                                <p>CAFOD is the official Catholic Aid Agency for England and Wales</p>
                            </div> -->
                            
                            <ul class="contact-info">
                                <li><span class="icon fa fa-map-marker"></span> Direccion</li>
                                <li><span class="icon fa fa-phone"></span> (505) 2277-5975</li>
                                <li><span class="icon fa fa-envelope-o"></span> Correo@gmail.com</li>
                            </ul>
                            
                            <div class="social-links-two clearfix">
                                <a href="#" class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
                                <a href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                                <a href="#" class="google-plus img-circle"><span class="fa fa-google-plus"></span></a>
                                <a href="#" class="linkedin img-circle"><span class="fa fa-pinterest-p"></span></a>
                                <a href="#" class="linkedin img-circle"><span class="fa fa-linkedin"></span></a>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="col-lg-2 col-sm-6 col-xs-12 column">
                        <h2>Enlaces de interés</h2>
                        <div class="footer-widget links-widget">
                            <ul>
                                <li><a href="#">Inicio</a></li>
                                <li><a href="#">Noticias</a></li>
                                <li><a href="#">Acerca de</a></li>
                                <li><a href="#">Contrapartes</a></li>
                                <li><a href="#">Eventos</a></li>
                            </ul>

                        </div>
                    </div>

                    <!--Footer Column-->
                    <div class="col-lg-3 col-sm-6 col-xs-12 column">
                        <div class="footer-widget news-widget">
                            <h2>Últimas Noticias</h2>   
                            
                            <!--News Post-->
                            <div class="news-post">
                                <div class="icon"></div>
                                <div class="news-content"><figure class="image-thumb"><img src="http://cafodca.org/uploads/fotos/30707245_1938608242816258_7960736666413432832_o.380x250.jpg" alt=""></figure><a href="#">Oficial de Proyectos visita fincas agro ecológicas en Honduras</a></div>
                                <div class="time"> 2 Agosto 2018</div>
                            </div>
                            
                            <!--News Post-->
                            <div class="news-post">
                                <div class="icon"></div>
                                <div class="news-content"><figure class="image-thumb"><img src="http://cafodca.org/uploads/fotos/descarga.380x250.jpg" alt=""></figure><a href="#">Encuentro Regional del Programa Medios de Vida Sostenible</a></div>
                                <div class="time">2 Agosto 2018</div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="col-lg-4 col-sm-6 col-xs-12 column">
                        <div class="footer-widget contact-widget">
                            <h2>Contáctanos</h2>
                            <form action="inc/sendemail.php" class="contact-form" id="footer-cf">
                                <input type="text" name="Nombre"  placeholder="Nombre Completo">
                                <input type="text" name="Correo" placeholder="Correo" >
                                <textarea name="message" placeholder="Mensaje"></textarea>
                                <button type="submit">Enviar</button>
                            </form>

                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        
        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container clearfix">
                <!--Copyright-->
                <div class="copyright text-center">Copyright 2018 &copy; Plataforma desarrollada por <a href="#">SIMAS</a></div>
            </div>
        </div>
        
    </footer>
    
</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".page-wrapper"><span class="fa fa-long-arrow-up"></span></div>


<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/script.js"></script>
<script>
    var activeEl = 0;
    $(function() {
        var items = $('.btn-nav');
        $( items[activeEl] ).addClass('active');
        $( ".btn-nav" ).click(function() {
            $( items[activeEl] ).removeClass('active');
            $( this ).addClass('active');
            activeEl = $( ".btn-nav" ).index( this );
        });
    });
</script>
</body>
</html>