{% extends "base.html" %}

{% load el_pagination_tags %}

{% block content %}
 <!--Page Title-->
<section class="page-title" style="background-image:url(http://www.vielva.cl/img/Category/5/AGRICOLA.png);">
    <div class="auto-container">
        <div class="sec-title">
            <h1>Imágenes</h1>
            <div class="bread-crumb"><a href="/">Inicio</a> / <a href="/imagenes/" class="current">Imágenes</a></div>
        </div>
    </div>
</section>

  <section class="gallery-section">
    <div class="auto-container">
        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <div class="row clearfix">
                <!--Column-->
                        {% paginate 12 imagenes %}
                            {% for img in imagenes %}
                                <div class="column col-md-4 col-sm-6 col-xs-12">
                                    <!--Default Portfolio Item-->
                                    <div class="default-portfolio-item">
                                        <div class="inner-box text-center">
                                            <!--Image Box-->
                                            <figure class="image-box"><img src="http://cafodca.org{{img.foto.url_380x250}}" alt=""></figure>
                                            <div class="overlay-box">
                                                <div class="inner-content">
                                                    <div class="content">
                                                        <a data-fancybox="gallery" class="arrow lightbox-image" href="http://cafodca.org{{img.foto.url_640x480}}" title="{{img.nombre_img}}"><span class="icon flaticon-cross-4"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
            </div>
        </div>

        <div class="styled-pagination mb-20">
                <ul>
                    {% show_pages %}
                </ul>
            </div>

    </div>
</section>


{% endblock content %}

