{% extends "base.html" %}

{% load el_pagination_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
{% endblock extra_css %}

{% block content %}

<div data-bac="#fcfcfc">
    <!--Gallery Section-->
    <section class="page-title" style="background-image:url(/static/images/banner/5.jpg);">
        <div class="auto-container">
            <div class="sec-title">
                <h1>Imágenes</h1>
                <div class="bread-crumb"><a href="/">Inicio</a> / <a href="/imagenes/" class="current">Imágenes</a></div>
            </div>
        </div>
    </section>
    <section class="gallery-section">
        <div class="auto-container">

            <div class="row clearfix">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Column-->
                        {% paginate 12 imagenes %}
                            {% for img in imagenes %}
                                <div class="column col-md-4 col-sm-6 col-xs-12">
                                    <!--Default Portfolio Item-->
                                    <div class="default-portfolio-item">
                                        <div class="inner-box text-center">
                                            <!--Image Box-->
                                            <figure class="image-box"><img src="{{img.foto.url_380x250}}" alt=""></figure>
                                            <div class="overlay-box">
                                                <div class="inner-content">
                                                    <div class="content">
                                                        <a data-fancybox="gallery" class="arrow lightbox-image" href="{{img.foto.url_640x480}}" data-caption="{{img.nombre_img}}"><span class="icon flaticon-cross-4"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                    </div>
                </div>
            </div>


            <div class="styled-pagination mb-20">
                <ul>
                    {% show_pages %}
                </ul>
            </div>

        </div>
    </section>
</div>
{% endblock content %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
{% endblock extra_js %}


