{% extends "base.html" %}

{% block content %}

   <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/banner/3.jpg);">
        <div class="auto-container">
            <div class="sec-title">
                <h1>Acerca de</h1>
                <div class="bread-crumb"><a href="/">Inicio</a> / <a class="current">acerca de</a></div>
            </div>
        </div>
    </section>
    <section class="default-section pb-50">
      <div class="auto-container">
            <div class="sec-title text-center">
                <h2>{{flatpage.title}}</h2>

            </div>
            <article class="inner-box mt-10 wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    {{ flatpage.content }}
                       
            </article>

            
        </div>
    </section>


{% endblock content %}
