{% extends "admin/base_admin.html" %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link href="/files/css/jquery.autocomplete.css" rel="stylesheet" type="text/css">

{% endblock extra_css %}

{% block content%}
<div data-bac="#fcfcfc">
    <section class="welcome-section pt-20 pb-20">
        <div class="auto-container">
            <div class="row clearfix perfil">
                <div class="panel panel-default">
                    <div class="panel-title double-line line-left">
                        <div style="flex-grow:10">
                            <h3 class="inner-title ">CREAR UN FORO</h3>
                        </div> 

                    </div>
                    <div class="panel-body">
                        <form class="form-inline" enctype="multipart/form-data" action="." method="post">{% csrf_token %}

                            {{ form.media }}
                            {# {{form|crispy}} #}
                            
                            <div class="crea_foro">
                                {%if form.errors%}
                                        <div class="alert alert-warning"><b>Favor corregir los siguientes errores</b><br>{{form.errors}}</div>
                                {%endif%}
                                {{form.as_p}}
                                <div class="comment-form">
                                    <h4 class="inner-title double-line line-left">Adjunto</h4>
                                    <!--Accordion Box-->
                                    <div class="form-group">
                                        <div class="accordion-box">
                                            <!-- Accordion -->
                                            <div class="accordion accordion-block">
                                                <div class="accord-btn"><h4>Fotos e imágenes</h4></div>
                                                <div class="accord-content">
                                                    {{ form2.management_form }}
                                                    {% for foto in form2 %}
                                                    <div class="media-form-inline">
                                                            {{foto.label_tag}}
                                                            {{foto}}
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-box">
                                            <!-- Accordion -->
                                            <div class="accordion accordion-block">
                                                <div class="accord-btn"><h4>Documentos</h4></div>
                                                <div class="accord-content">
                                                    {{ form3.management_form }}
                                                    {% for docu in form3 %}
                                                    <div class="media-form-inline">
                                                            {{docu.label_tag}}
                                                            {{docu}}
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-box">
                                            <!-- Accordion -->
                                            <div class="accordion accordion-block">
                                                <div class="accord-btn"><h4>Videos</h4></div>
                                                <div class="accord-content">
                                                    {{ form4.management_form }}
                                                    {% for video in form4 %}
                                                    <div class="media-form-inline">
                                                            {{video.label_tag}}
                                                            {{video}}
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-box">
                                            <!-- Accordion -->
                                            <div class="accordion accordion-block">
                                                <div class="accord-btn"><h4>Audios</h4></div>
                                                <div class="accord-content">
                                                    {{ form5.management_form }}
                                                    {% for audio in form5 %}
                                                    <div class="media-form-inline">
                                                            {{audio.label_tag}}
                                                            {{audio}}
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input class="theme-btn btn-style-two admin-btn" type="submit" name="Nuevo" id="submitfoo" value="Guardar">


                            </div>
                            
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

{% endblock%}
{% block extra_js %}
<script type="text/javascript" src="/files/js/autocompletejs/jquery.autocomplete.js"></script>

<script type="text/javascript">

        $(function() {
                $elem = $('#actionbuttons');

                // detectar el scroll de la ventana y fixear el elemento
            $(window).bind('scroll', function() {
                var windowTop = $(this).scrollTop();
                if(windowTop>=240){
                        $elem.addClass('fixed');
                }else{
                        // volver elemento a su lugar
                        $elem.removeClass('fixed');
                }
            });

            $('a[href^="/uploads/fotos"]').each(function(index, item){
                $(item).html('');
                $(item).append('<img src="'+$(item).attr('href')+'" width="60" height="60">');
            });

            $('p:has(input[type="file"])').each(function(index, item){
                $(item).children('a').addClass('imgpreview').siblings('input').addClass('inputreplace');
                $(item).html(function(id, html){
                        return html.replace('Actualmente:', '').replace('Modificar:', '');
                });
            });
            $('input[id*="clear"], label[for*="clear"]').addClass('hideclear');

            //para definir el alto de las tabs igual a su contenido
            var alto = $('.tab-content').height();
            $('.nav-tab-media').height(alto);
        });
</script>
<script type="text/javascript">
    $( "input, select" ).addClass( "form-control" );
    $( "input[type='submit']" ).removeClass( "form-control" ).addClass( "btn" );
    $( "input[type='file']" ).removeClass( "form-control" );
    
</script>
{% endblock extra_js %}
